<html xmlns:th="http://www.thymeleaf.org" th:fragment="FooterFragment">
	<link rel="stylesheet" href="css/footer.css">
	<footer class="footer">
	   <div class="footer-left">
	     <h4>고객센터</h4>
	     <p>운영시간: 10:00 ~ 19:00</p>
	     <p>점심시간: 12:30 ~ 13:30</p>
	     <p>주말 및 공휴일 휴무</p>
	     <p>이메일: rlfehd@gmail.com</p>
	   </div>
	   
	   <div class="footer-center">
	     <p>회사이름 | 서비스 이용약관 | 개인정보 처리 방침</p>
	     <small>주 Q-TABLE Inc</small>
	   </div>
	   
	   <div class="footer-right">
	     <a href="#"><i class="fab fa-facebook-f"></i></a>
	     <a href="#"><i class="fab fa-instagram"></i></a>
	     <a href="#"><i class="fab fa-youtube"></i></a>
	   </div>
	 </footer>
</html>