<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="HeaderFragment">
	  <link rel="stylesheet" href="css/header.css">
		<header class="header">
		  <!-- 로고 -->
		  <a th:href="@{/}">
		    <img src="img/logo.PNG" alt="로고">
		  </a>

		  <!-- 검색창 -->
		  <div class="search-box">
		    <input type="text" placeholder="검색어를 입력하세요">
		    <button><i class="fas fa-search"></i></button>
		  </div>

		  <!-- 아이콘 메뉴 -->
		  <div class="menu-icons">
		    <a th:href="@{/}"><i class="fas fa-calendar-alt"></i></a>
		    <a th:href="@{/}"><i class="fas fa-comment-dots"></i></a>
		    <a th:href="@{/}"><i class="fas fa-user"></i></a>
		  </div>
		</header>
</lhtml>