<!DOCTYPE html>
<html lang="ko" layout:decorate="~{admin/layout/defaultLayout.html}">

<head>
	<title>회원 / 매장 상세페이지</title>
</head>

<body class="hold-transition sidebar-mini">

	<th:block layout:fragment="content">

		<div class="page-container">
			<div class="table-header">
				<div class="table-title">회원 / 매장 상세보기</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-7">
							<div class="detail-card">
								<div class="detail-grid">
									<div class="detail-item">
										<label>아이디</label>
										<input type="text" class="component-write" readonly
											th:value="${member.member_id}">
									</div>
									<div class="detail-item">
										<label>생년월일</label>
										<input type="text" class="component-write" readonly th:value="${member.birth}">
									</div>
									<div class="detail-item">
										<label>주소</label>
										<input type="text" class="component-write" readonly
											th:value="${member.address} + ' ' +  ${member.address_detail}">
									</div>
									<div class="detail-item">
										<label>우편번호</label>
										<input type="text" class="component-write" readonly
											th:value="${member.post_code}">
									</div>
									<div class="detail-item full-width">
										<label>이메일</label>
										<input type="text" class="component-write" readonly th:value="${member.email}">
									</div>
									<div class="detail-item">
										<label>가입일자</label>
										<input type="text" class="component-write" readonly
											th:value="${#temporals.format(member.signup_date, 'yyyy-MM-dd')}">
									</div>
									<div class="detail-item">
										<label>Q머니 보유량</label>
										<input type="text" class="component-write" readonly
											th:value="${member.q_money}">
									</div>
									<div class="detail-item">
										<label>탈퇴일자</label>
										<input type="text" class="component-write" readonly
											th:value="${#temporals.format(member.leave_at, 'yyyy-MM-dd')}">
									</div>
									<div class="detail-item">
										<label>회원상태</label>
										<input type="text" class="component-write" readonly
											th:value="${member.member_status_name}">
									</div>
								</div>
							</div>
							<div class="detail-grid" th:if="${member.member_type == 'mtype_03'}">
								<div class="detail-item2">
									<label>매장 사진 파일</label>
									<input type="text" class="component-write" readonly value="store_image.jpg">
								</div>
								<div class="detail-item2">
									<label>매장 사진 파일</label>
									<input type="text" class="component-write" readonly value="store_image.jpg">
								</div>
							</div>
							<div class="detail-grid" th:if="${member.member_type == 'mtype_03'}">
								<div class="detail-item2">
									<label>매장 사진 파일</label>
									<input type="text" class="component-write" readonly value="store_image.jpg">
								</div>
								<div class="detail-item2">
									<label>매장 사진 파일</label>
									<input type="text" class="component-write" readonly value="store_image.jpg">
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="profile-card"> <img src="/img/profile.png" alt="프로필 사진"
									class="profile-img-large">
								<span class="profile-name-large" th:text="${member.member_name}"></span>
							</div>
							<div class="detail-card mt-4" th:if="${member.member_type == 'mtype_03'}">
								<div class="detail-grid">
									<div class="detail-item">
										<label>매장명</label>
										<input type="text" class="component-write" readonly
											th:value="${member.store_name}">
									</div>
									<div class="detail-item">
										<label>사업자 등록번호</label>
										<input type="text" class="component-write" readonly
											th:value="${member.business_reg_no}">
									</div>
									<div class="detail-item">
										<label>매장 테이블 수</label>
										<input type="text" class="component-write" readonly
											th:value="${member.store_seat}">
									</div>
									<div class="detail-item">
										<label>예약금</label>
										<input type="text" class="component-write" readonly th:value="${member.deposit}">
									</div>
									<div class="detail-item">
										<label>매장 운영시간</label>
										<input type="text" class="component-write" readonly
											th:value="${member.open_time} + ' ~ ' + ${member.close_time}">
									</div>
									<div class="detail-item">
										<label>계좌번호</label>
										<input type="text" class="component-write" readonly
											th:value="${member.account_number}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<script>
			$(function () {
				$('body').addClass('detail-page-layout');
			});
		</script>

	</th:block>
</body>

</html>