<!DOCTYPE html>
<html lang="ko" layout:decorate="~{admin/layout/defaultLayout.html}">

<head>
	<title>공통 코드 추가 페이지</title>
</head>

<body class="hold-transition sidebar-mini">

	<th:block layout:fragment="content">
		<div class="wide-input-page-wrapper">
			<div class="page-container">
				<div class="table-header">
					<div class="table-title">공통 코드 추가</div>
				</div>
			</div>

			<div class="form-section">
				<h2>공통코드 그룹 추가</h2>
				<div class="form-group">
					<label>그룹 이름</label>
					<input type="text" id="group-code" class="component-write">
				</div>
				<div class="form-group">
					<label>그룹 설명</label>
					<input type="text" id="group-desc" class="component-write">
				</div>
				<div class="button-group-left">
					<input type="button" id="save-group-btn" class="positive-button" value="그룹 저장">
				</div>
			</div>

			<div class="form-section">
				<h2>공통 코드 추가</h2>
				<table class="editable-table">
					<thead>
						<tr>
							<th>그룹 이름</th>
							<th>코드 명</th>
							<th>코드 라벨</th>
							<th>코드 설명</th>
							<th>부모코드 ID</th>
							<th>순서</th>
							<th>관리</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" placeholder="그룹 이름"></td>
							<td><input type="text" placeholder="코드 명"></td>
							<td><input type="text" placeholder="코드 라벨"></td>
							<td><input type="text" placeholder="코드 설명"></td>
							<td><input type="text" placeholder="부모코드 ID"></td>
							<td><input type="text" placeholder="순서"></td>
							<td><button class="negative-button">삭제</button></td>
						</tr>
					</tbody>
				</table>
				<div class="button-group-left">
					<button class="positive-button" id="add-row-btn">행 추가</button>
					<button class="positive-button" id="save-codes-btn">코드 저장</button>
				</div>
			</div>
		</div>

		<script>
			$(function () {
				$('body').addClass('detail-page-layout');
			});
		</script>
		<script th:src="@{/js/admin/comcodeCommit.js}"></script>

	</th:block>
</body>

</html>