<!DOCTYPE html>
<html lang="ko" layout:decorate="~{admin/layout/defaultLayout.html}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>공통 코드 관리</title>

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="plugins/fontawesome-free/css/all.css">
	<link rel="stylesheet" href="css/admin/adminlte.css">
	<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini">

	<th:block layout:fragment="content">

		<div class="table-header">
			<div class="table-title">공통 코드 목록</div>

			<div class="header-actions">
				<a href="/comcode_commit" class="positive-button">공통 코드 추가</a>
			</div>
		</div>
		<div id="comcode-table" class="grid-wrapper"></div>

		<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
		<script th:src="@{/js/admin/comcodeList.js}"></script>

	</th:block>
</body>

</html>