<!DOCTYPE html>
<html lang="ko" layout:decorate="~{admin/layout/defaultLayout.html}">

<head>
	<title>공통 코드 관리</title>
</head>

<body class="hold-transition sidebar-mini">

	<th:block layout:fragment="content">

		<div class="table-header">
			<div class="table-title">공통 코드 목록</div>

			<div class="header-actions">
				<a href="/comcode_commit" class="positive-button">공통 코드 추가</a>
			</div>
		</div>
		<div id="comcode-table" class="grid-wrapper"></div>

		<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
		<script th:src="@{/js/admin/comcodeList.js}"></script>
		<script th:src="@{/js/admin/adminModal.js}"></script>

	</th:block>
</body>

</html>