<!DOCTYPE html>
<html lang="ko" layout:decorate="~{admin/layout/defaultLayout.html}">

<head>
	<title>회원 결제 관리</title>
</head>

<body class="hold-transition sidebar-mini">

	<th:block layout:fragment="content">
		
		<div class="table-header">
			<div class="table-title">회원 결제 목록</div>
		</div>
	
		<div id="member-payment-table" class="grid-wrapper"></div>
	
		<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
		<script th:src="@{/js/admin/memberPaymentList.js}"></script>

	</th:block>
</body>

</html>