<div th:fragment="locFoodModal" layout:fragment="content">
 <div id="myModal" class="modal-overlay">
        <div class="inner-modal">
	 		<div class="header-modal">
	 			<span class="close-btn">&times;</span>
	 		</div>
	 		<div class="content-modal">
	 			<div class="parent loc-food-background locReset">
	 				<div class="locfood-title top">
	 					<h3>지역</h3>
	 					<span class="reset">초기화</span>
	 				</div>
	 				<div class="locfood-content">
	 					<div class="keywords single-choice" id="main-location">
	 						<span th:each="locLarge: ${locLargeList}" class="keyword no-outline" 
	 						th:text="${locLarge.code_label}" th:data-loclarge="${locLarge.code}" ></span>
	 					</div>
	 				</div>
	 				<div class="locfood-content" id="sub-location">
	 					<div class="keywords locFoodModal" id="sub-location-container">
	 						<span id="not-selected">원하는 지역을 선택해보세요!</span>
<!-- 	 						<span class="keyword location">서울전체</span> -->
<!-- 	 						<span class="keyword location">강남구</span> -->
<!-- 	 						<span class="keyword location">강서구</span> -->
<!-- 	 						<span class="keyword location">마포구</span> -->
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 			</div>
	 			<div class="parent loc-food-background foodReset">
	 				<div class="locfood-title top">
	 					<h3>음식종류</h3>
	 					<span class="reset">초기화</span>
	 				</div>
	 				<div class="locfood-content">
	 					<span class="sub-category">국가별</span>
	 					<div class="keywords locFoodModal">
	 						<span th:each="ct:${ctCountryList}" th:text="${ct.code_label}" th:data-loc-food="${ct.code}" class="keyword food"></span>
	 					</div>
	 				</div>
	 				<div class="locfood-content">
	 					<span class="sub-category">육류</span>
	 					<div class="keywords locFoodModal">
	 						<span th:each="ct:${ctMeatList}" th:text="${ct.code_label}" th:data-loc-food="${ct.code}" class="keyword food"></span>
	 					</div>
	 				</div>
	 				<div class="locfood-content">
						<span class="sub-category">해산물</span>
	 					<div class="keywords locFoodModal">
	 						<span th:each="ct:${ctSeafoodList}" th:text="${ct.code_label}" th:data-loc-food="${ct.code}" class="keyword food"></span>
	 					</div>
	 				</div>
	 				<div class="locfood-content">
						<span class="sub-category">술</span>
	 					<div class="keywords locFoodModal">
	 						<span th:each="ct:${ctDrinkList}" th:text="${ct.code_label}" th:data-loc-food="${ct.code}" class="keyword food"></span>
	 					</div>
	 				</div>
	 				<div class="locfood-content">
						<span class="sub-category">카페</span>
	 					<div class="keywords locFoodModal">
	 						<span th:each="ct:${ctCafeList}" th:text="${ct.code_label}" th:data-loc-food="${ct.code}" class="keyword food"></span>
	 					</div>
	 				</div>
	 			</div>
	        </div>
	        <div class="footer-modal">
	        	<div class="selectedKeywords">
	        		<span class="delete-keyword" id="delete-all-btn"><i class="bi bi-trash"></i></span>
<!-- 	        		<span class="selectedKeyword active">이자카야<span class="delete active">&times;</span></span> -->
	        	</div>
	        </div>
	        <button id="apply-btn" class="active">적용하기</button>
        </div>
    </div>
</div>
