<div th:fragment="locFoodModal" layout:fragment="content">
 <div id="myModal" class="modal-overlay">
        <div class="inner-modal">
	 		<div class="header-modal">
	 			<span class="close-btn">&times;</span>
	 		</div>
	 		<div class="content-modal">
	 			<div class="parent loc-food-background locReset">
	 				<div class="locfood-title top">
	 					<h3>지역</h3>
	 					<span class="reset">초기화</span>
	 				</div>
	 				<div class="locfood-content">
	 					<div class="keywords single-choice" id="main-location">
	 						<span class="keyword no-outline active">부산</span>
	 						<span class="keyword no-outline">서울</span>
	 						<span class="keyword no-outline">경기도</span>
	 						<span class="keyword no-outline">경상남도</span>
	 						<span class="keyword no-outline">전라북도</span>
	 						<span class="keyword no-outline">전라남도</span>
	 						<span class="keyword no-outline">강원도</span>
	 						<span class="keyword no-outline">울산</span>
	 						<span class="keyword no-outline">광주</span>
	 						<span class="keyword no-outline">대구</span>
	 						<span class="keyword no-outline">대전</span>
	 						<span class="keyword no-outline">경상북도</span>
	 						<span class="keyword no-outline">충청남도</span>
	 						<span class="keyword no-outline">충청북도</span>
	 						<span class="keyword no-outline">제주</span>
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 				<div class="locfood-content" id="sub-location">
	 					<div class="keywords locFoodModal">
	 						<span class="keyword location">서울전체</span>
	 						<span class="keyword location">강남구</span>
	 						<span class="keyword location">강서구</span>
	 						<span class="keyword location">마포구</span>
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 			</div>
	 			<div class="parent loc-food-background foodReset">
	 				<div class="locfood-title top">
	 					<h3>음식종류</h3>
	 					<span class="reset">초기화</span>
	 				</div>
	 				<div class="locfood-content">
	 					<span class="sub-category">국가별</span>
	 					<div class="keywords locFoodModal">
	 						<span class="keyword food">한식</span>
	 						<span class="keyword food">중식</span>
	 						<span class="keyword food">유러피안</span>
	 						<span class="keyword food">스페인</span>
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 				<div class="locfood-content">
	 					<span class="sub-category">육류</span>
	 					<div class="keywords locFoodModal">
	 						<span class="keyword food">돼지고기</span>
	 						<span class="keyword food">곱창/막창</span>
	 						<span class="keyword food">닭/오리</span>
	 						<span class="keyword food">소고기</span>
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 				<div class="locfood-content">
						<span class="sub-category">해산물</span>
	 					<div class="keywords locFoodModal">
	 						<span class="keyword food">스시</span>
	 						<span class="keyword food">해물탕/찜</span>
	 						<span class="keyword food">갑각류</span>
	 						<span class="keyword food">회</span>
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 				<div class="locfood-content">
						<span class="sub-category">술</span>
	 					<div class="keywords locFoodModal">
	 						<span class="keyword food">이자카야</span>
	 						<span class="keyword food">바</span>
	 						<span class="keyword food">요리주점</span>
	 						<span class="keyword food">호프</span>
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 				<div class="locfood-content">
						<span class="sub-category">카페</span>
	 					<div class="keywords locFoodModal">
	 						<span class="keyword food">카페</span>
	 						<span class="keyword food">베이커리</span>
	 						<!-- 이후 동적으로 채우기 -->
	 					</div>
	 				</div>
	 			</div>
	        </div>
	        <div class="footer-modal">
	        	<div class="selectedKeywords">
	        		<span class="delete-keyword" id="delete-all-btn"><i class="bi bi-trash"></i></span>
<!-- 	        		<span class="selectedKeyword active">이자카야<span class="delete active">&times;</span></span> -->
	        	</div>
	        </div>
	        <button id="apply-btn" class="active">적용하기</button>
        </div>
    </div>
</div>
