<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>Q-Table 검색</title>
	<link rel="stylesheet" th:href="@{/css/search/search.css}">
	<link rel="stylesheet" th:href="@{/css/search/searchSidebar.css}">
	<link rel="stylesheet" th:href="@{/css/search/locFoodModal.css}">
	<link rel="stylesheet" th:href="@{/css/search/dateModal.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>
	<script th:src="@{/js/search/search.js}"></script>
	<script th:src="@{/js/search/searchSidebar.js}"></script>
	<script th:src="@{/js/search/locFoodModal.js}"></script>
	<script th:src="@{/js/search/dateModal.js}"></script>
</head>
<body>
	<!--  Header 
    <th:block th:replace="~{common/fragments/header :: HeaderFragment}"></th:block>-->
    
	<th:block layout:fragment="Content">
	<!-- <div class="main-container"> -->
		<div class="sidebar-content">
			<th:block th:replace="~{search/searchSidebar :: searchSidebar}"></th:block>
			<div class="filter-content">
				<div class="filter" style="display:none;">
					<span class="search-title">맛집을 소개합니다!</span>
					<div class="select-box">
						<select id="filter">
							<option value="order by score desc">별점순</option>
							<option value="order by reviewCnt desc">리뷰 많은순</option>
							<option value="order by price desc">가격 높은순</option>
							<option value="order by price asc">가격 낮은순</option>
						</select>
					</div>
				</div>
				<section class="content">
					<div class="no-result">
						<img src="img/Q_money_norice.png" alt="큐머니아이콘">
						<h4>새로운 맛집을 발견하는 즐거움을 시작해 보세요</h4>
						<ul>
							<li>부산대 브런치</li>
							<li>센텀시티 일식</li>
							<li>남포동 족발</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
		<div class="modal-area">
			<th:block th:replace="~{search/locFoodModal :: locFoodModal}"></th:block>
			<th:block th:replace="~{search/dateModal :: dateModal}"></th:block>
		</div>
	</th:block>	
</body>
</html>