<aside th:fragment="searchSidebar" layout:fragment="content" id="sidebar"
 class="form-box">
	
	<section class="part parent locReset">
		<div class="top no-reset">
			<h5>지역</h5>
			<span class="reset" id="locReset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="keywords no-toggle" id="locationArea">
			<span class="dashed-box show-modal">+ 키워드를 선택해주세요</span>
<!--			<span class="keyword active">부산진구</span>-->
<!--			<span class="keyword active">사상구</span>-->
<!--			<span class="keyword active">사하구</span>-->
<!--			<span class="keyword active">영도구</span>-->
<!--			<span class="select">지역 선택</span>-->
		</div>
	</section>
	<section class="part parent foodReset">
		<div class="top no-reset">
			<h5>음식종류</h5>
			<span class="reset" id="foodReset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="keywords no-toggle" id="foodArea">
			<span class="dashed-box show-modal">+ 키워드를 선택해주세요</span>
<!--			<span class="keyword active">중식</span>-->
<!--			<span class="keyword active">한식</span>-->
<!--			<span class="keyword active">양식</span>-->
<!--			<span class="keyword active">일식</span>-->
<!--			<span class="keyword active">일식</span>-->
<!--			<span class="keyword active">일식</span>-->
<!--			<span class="select">종류 선택</span>-->
		</div>
	</section>
	<section class="part parent">
		<div class="top price">
			<h5>1인당 예상 가격</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div id="slider-values" class="range"></div>
		<div id="price-slider"></div>
		<div id="price-range">
			<span>0원</span>
			<span>20만원</span>
			<span>40만원</span>
		</div>
		<div class="keywords single-choice priceKeywords">
			<span th:each="price,stat : ${priceRangeList}" th:data-price="${price.code}" 
			th:text="${price.code_label}" th:class="|keyword priceKeyword ${stat.index * 10}|"></span>
		</div>
	</section>
	<section class="part parent">
		<div class="top">
			<h5>좌석수</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="keywords single-choice">
			<span th:each="seat : ${seatCntList}" th:data-seatCnt="${seat.code}" th:text="${seat.code_label}" class="keyword"></span>
		</div>
	</section>
	<section class="part parent">
		<div class="top">
			<h5>분위기</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="keywords">
		<th:block th:each="at :${atmosphereList}">
			<span th:text="${at.code_label}" th:data-atmosphere="${at.code}" class="keyword"></span>
		</th:block>
		</div>
	</section>
	<section class="part parent">
		<div class="top">
			<h5>편의 시설</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="keywords">
			<div th:each="facility, i : ${facilityList}" class="keyword" th:data-facility="${facility.code}">
				<img th:src="@{'/icons/store_facility/' + ${facility.code} + '.png'}"><span th:text="${facility.code_label}"></span>
			</div>
		</div>
	</section>
</aside>
