<aside th:fragment="searchSidebar" layout:fragment="content" id="sidebar"
 class="form-box">
	
	<section class="part">
		<div class="top no-reset">
			<h5>지역</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="selectedKeywords no-toggle">
			<span class="dashed-box">+ 키워드를 선택해주세요</span>
<!--			<span class="keyword active">부산진구</span>-->
<!--			<span class="keyword active">사상구</span>-->
<!--			<span class="keyword active">사하구</span>-->
<!--			<span class="keyword active">영도구</span>-->
<!--			<span class="select">지역 선택</span>-->
		</div>
	</section>
	<section class="part">
		<div class="top no-reset">
			<h5>음식종류</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="selectedKeywords no-toggle">
			<span class="dashed-box">+ 키워드를 선택해주세요</span>
<!--			<span class="keyword active">중식</span>-->
<!--			<span class="keyword active">한식</span>-->
<!--			<span class="keyword active">양식</span>-->
<!--			<span class="keyword active">일식</span>-->
<!--			<span class="keyword active">일식</span>-->
<!--			<span class="keyword active">일식</span>-->
<!--			<span class="select">종류 선택</span>-->
		</div>
	</section>
	<section class="part">
		<div class="top price">
			<h5>가격</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div id="slider-values" class="range"></div>
		<div id="price-slider"></div>
		<div id="price-range">
			<span>0원</span>
			<span>20만원</span>
			<span>40만원</span>
		</div>
		<div class="selectedKeywords single-choice priceKeywords">
			<span class="keyword priceKeyword 0">10만원이하</span>
			<span class="keyword priceKeyword 10">10만원대</span>
			<span class="keyword priceKeyword 20">20만원대</span>
			<span class="keyword priceKeyword 30">30만원대</span>
			<span class="keyword priceKeyword 40">40만원대이상</span>
		</div>
	</section>
	<section class="part">
		<div class="top">
			<h5>좌석수</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="selectedKeywords single-choice">
			<span class="keyword">10석이하</span>
			<span class="keyword">10~20석</span>
			<span class="keyword">20~30석</span>
			<span class="keyword">30~40석</span>
			<span class="keyword">40석이상</span>
		</div>
	</section>
	<section class="part">
		<div class="top">
			<h5>분위기</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="selectedKeywords">
			<span class="keyword">데이트</span>
			<span class="keyword">비즈니스미팅</span>
			<span class="keyword">기념일</span>
			<span class="keyword">단체회식</span>
			<span class="keyword">가족모임</span>
			<span class="keyword">뷰맛집</span>
			<span class="keyword">상견례</span>
			<span class="keyword">조용한</span>
			<span class="keyword">모던한</span>
			<span class="keyword">전통적인</span>
			<span class="keyword">트렌디한</span>
		</div>
	</section>
	<section class="part">
		<div class="top">
			<h5>편의 시설</h5>
			<span class="reset">초기화</span>
		</div>
		<div class="horizontal-line"></div>
		<div class="selectedKeywords">
			<div class="keyword"><img src="icons/store_facility/icon_power.png"><span>콘센트</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_kid_allow.png"><span>유아의자</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_pet.png"><span>반려동물</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_nokid.png"><span>노키즈존</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_wifi.png"><span>와이파이</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_parking.png"><span>주차가능</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_wheel_chair.png"><span>휠체어</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_group.png"><span>단체석</span></div>
			<div class="keyword"><img src="icons/store_facility/icon_room.png"><span>룸</span></div>
		</div>
	</section>
	
	
	
</aside>
