<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
<head>
</head>
<body>
<div layout:fragment="Content">
	<h2>이미지 업로드 테스트</h2>
	<form method="post" enctype="multipart/form-data" action="/test/upload">
		<input type="file" name="image">
		
		<!-- 루트/upload 폴더에 업로드 -->
		<button type="submit">업로드</button>
	</form>

	<div th:if="${uploadedImage}">
		<h3>업로드된 이미지:</h3>
		<img th:src="@{${uploadedImage}}" style="width:100px" >
	</div>
</div>
</body>
</html>