
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<meta charset="UTF-8">
	<title>test4</title>
</head>

<body>
	<div layout:fragment="Content">

		<input type="checkbox" class="component-checkbox"> 체크박스 <br>
		<input type="text" class="component-write"> 입력란<br>
		<h2 class="title-box"> 타이틀 </h2><br> 
	    <h2 class="form-box"> 박스</h2><br> 
		
		<h2 class="form-noshadow"> 박스2</h2><br> 
	    <h2 class="search-box"> 검색</h2>
		<img src="/img/background.png" alt="이미지설명" width="1300px" height="600px">


		<div class="horizontal-line"></div>

		<div class="select-box">
			<select>
				<option>옵션1</option>
				<option>옵션2</option>
				<option>옵션3</option>
				<option>옵션4</option>
				<option>옵션5</option>
				<option>옵션6</option>
			</select>
		</div>
	</div>

</body>

</html>
