<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/mypageNav.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageMain.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageReview.css}">
	<script th:src="@{/js/mypage/mypage_button.js}" defer></script>
	<script th:src="@{/js/mypage/profile.js}" defer></script>
	<meta charset="UTF-8">
	<title>review</title>
</head>

<body>
	<div layout:fragment="Content">
		<div th:replace="mypage/profile :: mainnav"></div>
		<div th:replace="mypage/mypageNav :: mainnav"></div>
		<div style="display: flex; align-items: center;">
			<img src="/img/spoon.png" class="spoon-icon" alt="스푼 아이콘" />
			<span class="review-label">리뷰</span>
		</div>

		
<!--			<div class="reservation-empty-content">-->
<!--				<div class="reserve-text">작성한 리뷰가 없어요</div>-->
<!--			</div>-->

		<div class="review-list">

			<div class="review-item">
				<div class="review-info">
					<div class="store-title">
						<div class="name-star-group">
							<span class="store-name">야끼니꾸 서면점</span>
							<span class="star">★ 4.8(647)</span>
						</div>
					</div>
					<div class="review-image-row">
						<img src="/img/review_photo.jpg" class="review-img" />
						<img src="/img/review_photo2.jpg" class="review-img" />
					</div>
					<span class="content"> 너무 맛있어요!</span>
					<span class="content"> 천상의 맛. 다음에 또 방문할게요</span>
					<div class="date-row">
						<span class="date">2025.09.21</span>
						<div class="review-buttons">
							<button class="negative-button" data-type="deleteBtn">삭제</button>
							<button class="positive-button" data-type="editBtn">수정</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>

</html>