<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/mypageNav.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageMain.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/pick.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageHistory.css}">
	<script th:src="@{/js/mypage/pick.js}" defer></script>
	<script th:src="@{/js/mypage/mypage_button.js}" defer></script>
	<script th:src="@{/js/mypage/profile.js}" defer></script>
	<script th:src="@{/js/mypage/mypage_main.js}" defer></script>
	<meta charset="UTF-8">
	<title>history</title>
</head>

<body>
	<div layout:fragment="Content">
		<div th:replace="mypage/profile :: mainnav"></div>
		<div th:replace="mypage/mypageNav :: mainnav"></div>
		<div style="display: flex; align-items: center;">
			<img src="/img/spoon.png" class="spoon-icon" alt="스푼 아이콘" />
			<span class="history-label"  >방문 내역</span>
		</div>

	<div id="reservationContent"></div>
		<div class="visit-list">
			<th:block th:fragment="listFragment">
				<div class="tab-content visit-item" id="rsrt">
					<div class="reservation-item" th:each="item : ${upcomingList}">
						<img th:src="@{${item.store_img}}" class="store-img" />
						<div class="visit-info">
							<div class="store-title">
								<div class="name-star-group">
									<span th:text="${item.store_name}" class="store-name"></span> <span
										th:text="'★ ' + ${item.avgScore}" class="star"></span>
								</div>
								<img src="/img/scrap.png" class="scrap-icon" />
							</div>
							<span class="desc" th:text="${item.store_content}"></span></span> <span
								class="desc">매장 번호:&nbsp;&nbsp;<span class="desc"
								th:text="${item.store_phone}"></span></span> <span class="desc">매장
								주소:&nbsp;&nbsp;<span class="desc" th:text="${item.full_address}"></span>
							</span> <span class="date" th:text="${item.reserve_dt}"></span></span>
							<div class="visit-buttons">
								<button class="positive-button" style="margin-right: 10px;"
									data-type="reviewBtn">리뷰 작성</button>
								<button class="positive-button" data-type="revisitBtn">재방문
									하기</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 반복 -->
		</div>
		<div th:replace="mypage/pick :: mainnav"></div>
	</div>

</body>

</html>