<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/mypageNav.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageMain.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageReview.css}">
	<meta charset="UTF-8">
	<title>my_page</title>
</head>

<body>
	<div layout:fragment="Content">
		<div th:replace="mypage/profile :: mainnav"></div>
		<div th:replace="mypage/mypageNav :: mainnav"></div>

			<div class="review-header">
				<div>
					<span class="review-title">야끼니꾸 서면점</span>
					<span class="stars">★ 4.6</span>
					<span class="review-date">2025. 09. 21</span>
				</div>
			</div>
			<div class="review-media">
				<img src="/img/review_photo.jpg" alt="음식사진1" />
				<img src="/img/review_photo2.jpg" alt="음식사진2" />
			</div>
			<div class="review-content">
				<span class="review-content-text">
				   너무 맛있어요!<br />
				   재방문 하고 싶은 맛집<br/>
				   우설이 가장 맛있어요 추천!!!!
				 </span>
				<div class="card-buttons">
					<button type="button" class="positive-button" 
					<!--style="width: 135px; height: 40px; font-size: 22px; border-radius: 35px;"-->수정</button>
					<button type="button" class="positive-button"
					<!--style="width: 135px; height: 40px; font-size: 22px; border-radius: 35px;"-->삭제</button>
				</div>
			</div>
	</div>

</body>

</html>