<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/mypageNav.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageMain.css}">
	<meta charset="UTF-8">
	<title>my_page</title>
</head>

<body>
	<div layout:fragment="Content">
		<div th:replace="mypage/profile :: mainnav"></div>
		<div th:replace="mypage/mypageNav :: mainnav"></div>

		<div class="reservation-empty-container">
			<div class="reservation-header">
				<span class="reserve-label" onclick="reserveTab(this, 'visit')">방문예정</span>
				<span class="reserve-label">|</span>
				<span class="reserve-label" onclick="reserveTab(this, 'cancel')">취소</span>
			</div>
			<div class="reservation-empty-content">
				<div class="reserve-text">예약한 매장이 없어요</div>
				
				<div class="reserve-text">맛집을 찾으러 가볼까요?</div>
				<a th:href="@{/search}">
				<button class="positive-button"
					style="width: 180px; height: 50px; font-size: 25px; border-radius: 10px; justify-content: center; margin-top: 10px;">맛집
					찾아보기</button>
			</div>
		</div>
		
		<!--예약이 있는 경우-->
		<div th:if="${not #lists.isEmpty(upcomingList)}">
		  <h3>최근 방문 예정 예약</h3>
		  <ul>
		    <li th:each="item : ${upcomingList}">
		      <img th:src="@{${item.store_img}}" alt="매장 이미지" style="width:50px;height:50px;" />
		      <span th:text="${item.store_name}"></span>
		      <span th:text="${item.reserve_dt}"></span>
		    </li>
		  </ul>
		  <a th:href="@{/reservation_list}">자세히 보기</a>
		</div>

	</div>

</body>

</html>