<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/mypageNav.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypagePaymentHistory.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/pick.css}">
	<script th:src="@{/js/mypage/profile.js}" defer></script>
	<script th:src="@{/js/mypage/qmoneyCharge.js}" defer></script>
	<meta charset="UTF-8">
	<title>scrap</title>
</head>

<body>
	<div layout:fragment="Content">
		<div th:replace="mypage/profile :: mainnav"></div>
		<div th:replace="mypage/mypageNav :: mainnav"></div>
		<div style="display: flex; align-items: center;">
			<img src="/img/spoon.png" class="spoon-icon" alt="스푼 아이콘" />
			<span class="payment-label">결제 내역</span>
		</div>

			<!-- 결제 리스트 -->
			<div class="payment-list">
				<!-- 결제 항목 반복 -->
				<div class="payment-item" th:classappend="${item.pay_type == 'pyus_04'} ? ' refund-item' : ''" th:each="item : ${upcomingList}">

					<!-- 가게 이미지 -->
					<img th:src="${item['store_img'] != null ? item['store_img'] : '/img/Q_money.png'}" class="store-img" />


					<!-- 결제 정보 -->
					<div class="payment-info" >
						<div class="store-title">
							<div class="name-star-group">
								<span th:text="${item != null and item['store_name'] != null ? item['store_name'] : 'Q-money 충전'}" class="payment-label"></span>
							</div>
						</div>

						<span class="content">
							매장 주소 | &nbsp;
							<span class="desc" th:text="${item['full_address'] != null ? item['full_address'] : 'Q-money 충전'}"></span>
						</span>

						<span class="content">
							예약 시간 | &nbsp;
							<span class="desc" th:text="${item['reserve_dt'] != null ? item['reserve_dt'] : 'Q-money 충전'}"></span>
						</span>
						<span class="content">
							결제 시간 | &nbsp;
							<span class="desc" th:text="${item['payment_date'] != null ? item['payment_date'] : '가게 정보 없음'}"></span>
						</span>
					</div>

					<!-- 결제 금액 -->
					<div class="payment-price">
						<span class="price-label">결제 금액</span>
						<div class="price-row">
							<button th:if="${item['pay_type']} == 'pyus_01'" 
							        class="negative-button refund-button"
							        th:data-tid="${item['external_transaction_idx']}" 
							        th:data-amount="${item['payment_amount']}">
							  환불하기
							</button>
							<span class="price-new" th:text="${item['payment_amount'] != null ? item['payment_amount'] + '원' : '가게 정보 없음'}"></span>
						</div>
					</div>
				</div>
			</div>

<!--			<div th:replace="~{mypage/pick :: mainnav}"></div>-->


		</div>

</body>

</html>