<div th:fragment="mainnav">
	<div class="navigation-icons">
		<a href="" class="reservation-icon">
			<div>
				<img src="/img/reservation.png" alt="예약 현황" class="nav-image" /><br />
				<div class="nav-font">예약 현황</div>
			</div>
		</a>
		<a href="" class="history-icon">
			<div>
				<img src="/img/history.png" alt="방문 내역" class="nav-image" /><br />
				<div class="nav-font">방문 내역</div>
			</div>
		</a>
		<a href="" class="review-icon">
			<div>
				<img src="/img/review.png" alt="리뷰" class="nav-image" /><br />
				<div class="nav-font">리뷰</div>
			</div>
		</a>
		<a href="" class="scrap-icon">
			<div>
				<img src="/img/scrap.png" alt="스크랩 가게" class="nav-image" /><br />
				<div class="nav-font">스크랩 가게</div>
			</div>
		</a>
		<a href="" class="qmoney-icon">
			<div>
				<img src="/img/Q_money.png" alt="Q_money 충전" class="nav-image" /><br />
				<div class="nav-font">Q_money 충전</div>
			</div>
		</a>
	</div>
	<div class="horizontal-line"></div>
</div>

<!--네비게이션 사용할 페이지에 원하는 위치에 삽입-->
<!--<div th:replace="mypage/mypage_nav :: mainnav"></div>-->

<!--head에 css 코드 적용-->
<!--<link rel="stylesheet" th:href="@{/css/mypage_nav.css}">-->