<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
<head>
	<title>아이디/비밀번호 찾기</title>
	<link rel="stylesheet" th:href="@{/css/member/findAccount.css}">
	<script th:src="@{/js/mypage/profile_setting.js}"></script>
</head>
<body>
<div layout:fragment="Content">
	
	<!-- 페이지 메인 콘테이너 -->
	<div class="find-main-container">
 		<div class="logo-area"> 
 			<img th:src="@{/img/logo.png}" alt="Q-TABLE"> 
 		</div> 
		<div class="logo-area">
		</div>
		
		<!-- 찾기 탭 영역 -->
		<div class="find-tabs">
			<div class="tab active">비밀번호 변경</div>
		</div>
		
		<!-- 메인 폼 영역 -->
		<div class="find-form">
			<div class="input-area">
				<input type="password" id="current_pass" placeholder="현재 비밀번호" class="component-write">
			</div>
			<div class="email-group">
				<input type="password" id="new_pass" placeholder="새 비밀번호" class="component-write">
				<span id="span_new_pass"></span>
			</div>
			<div class="verify-group">
				<input type="password" id="new_pass_check" placeholder="새 비밀번호 확인" class="component-write">
				<span id="span_new_pass_check"></span>
			</div>
			<div class="submit-area">
			  <button id="submit_button" class="positive-button submit-btn">비밀번호 변경</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>