<div th:fragment="mainnav">
	<section class="recommend-section">
		<div sec:authorize="isAuthenticated()">
			<h3 th:text="${#authentication.principal.member.nickName} + '님, 이 가게는 어때요?'"></h3>
		</div>
		<div class="recommend-cards" >
			<div class="card" th:each="store : ${recommendList}">
				<img  th:src="@{${store['store_img']}}" class="store-img" loading="lazy" />
				<p class="name" th:text="${store['store_name']}"></p>
				<p class="rating" th:text="'★ ' + ${store['avgScore']}"></p>
				<p class="price" th:text="${store['full_address']}"></p>
			</div>
		</div>
	</section>
	
	



</div>

<!--네비게이션 사용할 페이지에 원하는 위치에 삽입-->
<!--<div th:replace="mypage/pick :: mainnav"></div>-->

<!--head에 css 코드 적용-->
<!--<link rel="stylesheet" th:href="@{css/mypage/pick.css}">-->