<div th:fragment="mainnav">
	<!-- 추천 가게 UI -->
	<!--	<section class="recommend-section">-->
	<!--		<div sec:authorize="isAuthenticated()">-->
	<!--			<h3 th:text="${#authentication.principal.member.memberName} + '님, 이 가게는 어때요?'"></h3>-->
	<!--		</div>-->
	<!--		<div class="recommend-cards">-->
	<!--			<div class="card">-->
	<!--				<img src="img/food1.jpg" alt="간아가리">-->
	<!--				<p class="name">간아가리</p>-->
	<!--				<p class="rating">⭐ 3.55</p>-->
	<!--				<p class="price">JPY 7,000</p>-->
	<!--			</div>-->
	<!--			<div class="card">-->
	<!--				<img src="img/food3.jpg" alt="스시 히데타카">-->
	<!--				<p class="name">스시 히데타카</p>-->
	<!--				<p class="rating">⭐ 4.12</p>-->
	<!--				<p class="price">JPY 30,000</p>-->
	<!--			</div>-->
	<!--			<div class="card">-->
	<!--				<img src="img/food3.jpg" alt="스시마루야마">-->
	<!--				<p class="name">스시마루야마</p>-->
	<!--				<p class="rating">⭐ 3.41</p>-->
	<!--				<p class="price">JPY 4,500</p>-->
	<!--			</div>-->
	<!--			<div class="card">-->
	<!--				<img src="img/food2.jpg" alt="야키토리 무사시">-->
	<!--				<p class="name">야키토리 무사시</p>-->
	<!--				<p class="rating">⭐ 4.12</p>-->
	<!--				<p class="price">JPY 5,500</p>-->
	<!--			</div>-->
	<!--			<div class="card">-->
	<!--				<img src="img/food2.jpg" alt="야키토리 무사시">-->
	<!--				<p class="name">야키토리 무사시</p>-->
	<!--				<p class="rating">⭐ 4.12</p>-->
	<!--				<p class="price">JPY 5,500</p>-->
	<!--			</div>-->
	<!--			<div class="card">-->
	<!--				<img src="img/food2.jpg" alt="야키토리 무사시">-->
	<!--				<p class="name">야키토리 무사시</p>-->
	<!--				<p class="rating">⭐ 4.12</p>-->
	<!--				<p class="price">JPY 5,500</p>-->
	<!--			</div>-->
	<!--			<div class="card">-->
	<!--				<img src="img/food2.jpg" alt="야키토리 무사시">-->
	<!--				<p class="name">야키토리 무사시</p>-->
	<!--				<p class="rating">⭐ 4.12</p>-->
	<!--				<p class="price">JPY 5,500</p>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</section>-->

	<section class="recommend-section">
		<div sec:authorize="isAuthenticated()">
			<h3 th:text="${#authentication.principal.member.memberName} + '님, 이 가게는 어때요?'"></h3>
		</div>

		<div th:if="${#lists.isEmpty(upcomingList)}">
			<p>추천 가게가 없습니다.</p>
		</div>

		<div class="recommend-cards" th:if="${!#lists.isEmpty(upcomingList)}">
			<div class="card" th:each="store : ${upcomingList}">
				<img th:src="${store['store_img']}" class="store-img" />
				<p class="name" th:text="${store['store_name']}"></p>
				<p class="rating" th:text="'★ ' + ${store['avgScore']}"></p>
				<p class="price" th:text="${store['full_address']}"></p>
			</div>
		</div>
	</section>



</div>

<!--네비게이션 사용할 페이지에 원하는 위치에 삽입-->
<!--<div th:replace="mypage/pick :: mainnav"></div>-->

<!--head에 css 코드 적용-->
<!--<link rel="stylesheet" th:href="@{css/mypage/pick.css}">-->