<div th:fragment="mainnav">
	<div class="form-box"
		style="background-color: #FABFBF; width: 800px; height: 200px; display: flex; align-items: center;">
		<div>
			<img src="/img/profile.png" alt="프로필 사진" class="profile-img">
		</div>

		<div class="profile-info">
			<div class="nickname-box">
				<div class="nickname">000님</div>
				<div class="profile-icons">
					<img src="/img/mypage_month.png" alt="달력" class="mypage_month" />
					<img src="/img/mypage_messenger.png" alt="메세지" class="mypage_messenger" />
					<img src="/img/profile_settings.png" alt="설정" class="profile_settings" />
				</div>
			</div>

			<div class="Qmoney-balance">
				<img src="/img/Q_money.png" alt="Q_money" class="Qmoney-img" />
				<span st>50,000원</span>

			</div>

			<!-- 프로필 설정 버튼 -->
			<button type="button" class="positive-button" style="width: 150px; height: 40px; font-size: 20px;">프로필
				설정</button>

		</div>
	</div>
</div>

<!--네비게이션 사용할 페이지에 원하는 위치에 삽입-->
<!--<div th:replace="mypage/profile :: mainnav"></div>-->

<!--head에 css 코드 적용-->
<!--<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">-->