<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/profileSettings.css}">
	<script th:src="@{/js/mypage/profile.js}" defer></script>
	<script th:src="@{/js/mypage/profile_setting.js}" defer></script>
</head>

<body>
	<div layout:fragment="Content">
		<div class="background-wrapper">
			<img th:src="@{/img/background.png}" alt="배경 이미지" class="background-img">
			<div class="profilesettings-container">
				<div class="profilesettings-header">
					<h1 class="profilesettings-text">회원정보 수정</h1>
					<div class="dotted-line"></div>
				</div>
				<!-- 프로필 영역 -->
				<div class="profile-image">
					<!-- 기본 프로필 -->
					<img th:src="${#authentication.principal.member.profileImgUrl}" alt="프로필 사진" id="profileImage">
					<!-- 숨겨진 파일 입력 -->
					<input type="file" id="fileInput" accept="image/*" style="display:none">
					<div class="profile-right">
						<div class="profile-nickname">
							<input type="text" id="input_nickname" class="component-write write"
								th:value="${#authentication.principal.member.nickName}" style="width: auto;">
							<button class="positive-button" id="nickname_button">변경</button>
						</div>
						<span id="span_nickname" style="margin-left: 10px;"></span>
					</div>
				</div>

				<div class="profile-row">
					<div class="profile-fields">
						<div class="profile-field">
							<label>아이디</label>
							<input type="text" class="component-write write"
								th:value="${#authentication.principal.member.memberId}" disabled>
						</div>
						<div class="profile-field">
							<label>비밀번호</label>
							<input type="password" class="component-write write"
								th:value="${#authentication.principal.member.memberPw}" disabled>
							<a href="password">
								<button class="positive-button">변경</button>
							</a>
						</div>
						<div class="profile-field">
							<label>이름</label>
							<input type="text" class="component-write write"
								th:value="${#authentication.principal.member.memberName}" disabled>
						</div>
						<div class="profile-field">
							<label>이메일</label>
							<input type="text" class="component-write write"
								th:value="${#authentication.principal.member.Email}" disabled>
						</div>
						<div class="profile-field">
							<label>주소</label>
							<input type="text" class="component-write write"
								th:value="${#authentication.principal.member.Address}" disabled>
<!--							<button class="positive-button">변경</button>-->
						</div>
						<!--						<div class="profile-field">-->
						<!--							<label>전화번호</label>-->
						<!--							<input type="text" class="component-write write" disabled>-->
						<!--						</div>-->
					</div>
				</div>


				<div class="dotted-line"></div>

				<!-- 취향 영역 -->
				<h3 class="food-title">나의 음식 취향</h3>
				<div class="food-prefs-wrapper">
					<div class="food-prefs" id="selected">
						<span class="negative-button">한식</span>
						<span class="negative-button">중식</span>
						<span class="negative-button">양식</span>
						<span class="negative-button">분식</span>
						<span class="negative-button">일식</span>
						<span class="negative-button">카페/디저트</span>
						<span class="negative-button">패스트푸드</span>
						<span class="negative-button">야식</span>
						<span class="negative-button">주점</span>
					</div>
				</div>

				<div class="dotted-line"></div>

				<!-- 바코드, 저장 버튼 -->
				<div class="barcode-area">
					<img src="/img/barcode.png" alt="바코드" class="barcode-img">
				</div>
				<div class="save-btn-area">
					<button class="positive-button">저장</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>