<div th:fragment="mainnav">
	<div class="form-box"
		style="background-color: #FABFBF; width: 800px; height: 200px; display: flex; align-items: center;">
		<div>
			<!--기본 프로필-->
			<img th:src="${#authentication.principal.member.profileImgUrl}" alt="프로필 사진" class="profile-img"
				id="profileImage">
			<!--			<input type="file" id="fileInput" accept="image/*" class="profile-img" style="display:none">-->
			<!-- 숨겨진 파일 입력창 -->
			<input type="file" id="fileInput" accept="image/*" class="profile-img" style="display:none;">

			<!-- 팝업 메뉴: 처음엔 숨김 상태 -->
			<div id="profileMenu" style="display:none; position:absolute; z-index:100;">
				<button id="changeImageBtn" class="negative-button" type="button">이미지 변경</button>
				<button id="resetImageBtn" class="negative-button" type="button">기본 이미지</button>
			</div>
		</div>

		<div class="profile-info">
			<div class="nickname-box" sec:authorize="isAuthenticated()">
				<span th:text="${#authentication.principal.member.nickName} + '님'"></span>

				<div class="profile-icons">
					<a th:href="@{/}">
						<img src="/img/mypage_month.png" alt="달력" class="mypage_month" />
					</a>
					<a th:href="@{/chat}" class="mypage-chat-icon-wrapper">
						<img src="/img/mypage_messenger.png" alt="메세지" class="mypage_messenger" />
						<span class="mypage-chat-badge" id="mypageChatBadge" style="display: none;"></span>
					</a>
					<a th:href="@{/setting}">
						<img src="/img/profile_settings.png" alt="설정" class="profile_settings" />
					</a>
				</div>
			</div>

			<div class="Qmoney-balance">
				<img src="/img/Q_money.png" alt="Q_money" class="Qmoney-img" />
				<span id="qmoneyBalance">0원</span>
			</div>

			<!-- 프로필 설정 버튼 -->
			<a th:href="@{/profile_settings}">
				<button type="button" class="positive-button" style="width: 150px; height: 40px; font-size: 20px;">프로필
					설정</button>
			</a>

		</div>
	</div>
</div>

<!--네비게이션 사용할 페이지에 원하는 위치에 삽입-->
<!--<div th:replace="mypage/profile :: mainnav"></div>-->

<!--head에 css 코드 적용-->
<!--<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">-->