<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/mypageNav.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageMain.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/pick.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/qmoneyCharge.css}">
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	<script th:src="@{/js/mypage/qmoneyCharge.js}" defer></script>
	<meta charset="UTF-8">
	<title>my_page</title>
</head>

<body>
	<div layout:fragment="Content">
		<div class="qmoney-charge-container">
			<h2>Q-money 충전</h2>
			<div class="charge-amount-group">
				
				<!--테스트용 결제-->
				<button type="button" class="form-noshadow box">10원
					<img src="/img/Q_money.png" alt="Q-money 아이콘" class="qmoney-icon" />
				</button>
				
				
				<button type="button" class="form-noshadow box">10,000원
					<img src="/img/Q_money.png" alt="Q-money 아이콘" class="qmoney-icon" />
				</button>
				<button type="button" class="form-noshadow box">30,000원
					<img src="/img/Q_money.png" alt="Q-money 아이콘" class="qmoney-icon" />
				</button>
				<button type="button" class="form-noshadow box">50,000원
					<img src="/img/Q_money.png" alt="Q-money 아이콘" class="qmoney-icon" />
				</button>
				<button type="button" class="form-noshadow box">100,000원
					<img src="/img/Q_money.png" alt="Q-money 아이콘" class="qmoney-icon" />
				</button>
				<button type="button" class="form-noshadow box">300,000원
					<img src="/img/Q_money.png" alt="Q-money 아이콘" class="qmoney-icon" />
				</button>
				<button type="button" class="form-noshadow box">1,000,000원
					<img src="/img/Q_money.png" alt="Q-money 아이콘" class="qmoney-icon" />
				</button>
			</div>


			<div class="horizontal-line"></div>

			<div class="payment-method-section">
				<img src="/img/spoon.png" alt="숟가락" class="charge-spoon">
				<label class="payment-card">결제수단 선택</label>

				<div class="payment-method-row">
					<button type="button" class="form-noshadow card">신용카드</button>
				</div>
				<div class="pay-icon-row">
					<button type="button" class="form-noshadow img-button" style="width: 175px; height: 90px;">
						<div class="pay-icon-items">
							<img src="/img/kakao_pay.png" alt="kakao_pay" class="kakao_pay" />
							<span>카카오페이</span>
						</div>
					</button>

					<button type="button" class="form-noshadow img-button" style="width: 170px; height: 90px;" disabled>
						<div class="pay-icon-items">
							<img src="/img/naver_pay.png" alt="kakao_pay" class="naver_pay" />
							<span>네이버페이</span>
						</div>
					</button>

					<button type="button" class="form-noshadow img-button" style="width: 170px; height: 90px;" disabled>
						<div class="pay-icon-items">
							<img src="/img/toss_pay.png" alt="kakao_pay" class="toss_pay" />
							<span>토스페이</span>
						</div>
					</button>
				</div>
<!--				<div class="select-box" id="big-select">-->
<!--					<select>-->
<!--						<option value="">카드사 선택</option>-->
<!--						<option value="shinhan">신한카드</option>-->
<!--						<option value="kb">국민카드</option>-->
<!--						<option value="lotte">롯데카드</option>-->
<!--						 필요한 카드사 추가 -->
<!--					</select>-->
<!--				</div>-->
				<div class="refund-policy-section">
					<label class="title-box" id="refund-policy" style="width: 96%; height: 40px;">환불정책</label>
					<div class="refund-policy-list">
						<div class="refund-policy-row">
							<div>결제일로부터 7일 이내</div>
							<div>전액 환불</div>
							<div>결제 금액 100% 환불 가능</div>
						</div>
						<div class="horizontal-line"></div>
						<div class="refund-policy-row">
							<div>결제일로부터 7일 경과 후</div>
							<div>부분 환불</div>
							<div>결제 금액 50% 환불 가능</div>
						</div>
					</div>

					<div class="paymentlast">
						<div class="refund-policy-row">
							<div>총 상품 금액</div>
							<div>할인 금액</div>
							<div>총 결제 금액</div>
						</div>

						<div class="refund-policy-row">
							<div id="selectedAmountDisplay" style="margin-left: 20px;"></div> -
							<div>0원</div> =
							<div id="totalPaymentAmount" style="margin-right: 15px;">0원</div>
						</div>

					</div>
				</div>

				<div class="agree-row">
					<input type="checkbox" class="component-checkbox">
					<label for="agree">결제 및 환불 정책에 동의합니다. (필수)</label>
				</div>
				<button type="submit" class="positive-button paylast">결제하기</button>
			</div>
		</div>
	</div>
</body>

</html>