<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/mypageNav.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/reservationList.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/pick.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypageCalendar.css}">
	<link rel="stylesheet" th:href="@{/css/storeDetail/storeDetail.css}">
	<script th:src="@{/js/mypage/mypage_main.js}" defer></script>
	<script th:src="@{/js/mypage/pick.js}" defer></script>
	<script th:src="@{/js/mypage/profile.js}" defer></script>
	<script th:src="@{/js/mypage/mypage_button.js}" defer></script>
	<script th:src="@{/js/storeDetail/dynamicCalendar.js}" defer></script>
	<script th:src="@{/js/common/pagination.js}" defer></script>
	<meta charset="UTF-8">
	<title>예약 현황</title>
</head>

<body>
	<div layout:fragment="Content">
		<div th:replace="~{mypage/profile :: mainnav}"></div>
		<div th:replace="~{mypage/mypageNav :: mainnav}"></div>

		<!-- 탭 메뉴 -->
		<div style="display: flex; align-items: center;">
			<img src="/img/spoon.png" class="spoon-icon" alt="스푼 아이콘" />
			<div class="reservation-header">
				<span class="reserve-label active" data-tab="visit" onclick="showTab('visit', this, 'rsrt_05')">방문예정</span>
				<span class="reserve-label">|</span>
				<span class="reserve-label " data-tab="cancel" onclick="showTab('cancel', this, 'rsrt_03')">취소</span>
			</div>
		</div>

		<div id="reservationContent"></div>

		<div class="reservation-list">
			<!-- 방문예정 탭 -->
			<th:block th:fragment="listFragment">
				<div id="visit" class="tab-content visit">
					<div class="reservation-item" th:each="item : ${upcomingList}">
						<img th:src="@{${item.store_img}}" class="store-img" />
						<div class="reservation-info">
							<div class="store-title">
								<div class="name-star-group">
									<span th:text="${item.store_name}" class="store-name"></span>
									<span class="star" th:text="'★ ' + ${item.avgScore}"></span>
								</div>
								<img src="/img/scrap.png" class="scrap-icon"
									th:attr="data-store-idx=${item['store_idx']}" />
							</div>
							<span class="desc">매장 번호 | &nbsp;<span class="desc"
									th:text="${item.store_phone}"></span></span>
							<span class="desc">매장 주소 | &nbsp;<span class="desc"
									th:text="${item.full_address}"></span></span>
							<span class="desc">예약 시간 | &nbsp;<span class="desc" th:text="${item.reserve_dt}">>
								</span></span>
							<span class="date" th:text="${item.store_content}"></span></span>
							<div class="reservation-buttons">
								<button class="negative-button" style="margin-right: 10px;" data-type="cancelBtn"
									th:data-reserve-idx="${item['reserve_idx']}">예약 취소</button>
								<button class="positive-button" data-type="changeBtn"
									th:data-store-idx="${item.store_idx}">예약 변경</button>

							</div>
						</div>
					</div>
				</div>
			</th:block>

			<!-- 취소 탭 -->
			<th:block th:fragment="listFragment">
				<div id="cancel" class="tab-content cancel" style="display:none;">
					<div class="reservation-item" th:each="item : ${upcomingList}">
						<img th:src="@{${item.store_img}}" class="store-img" />
						<div class="reservation-info">
							<div class="store-title">
								<div class="name-star-group">
									<span th:text="${item.store_name}" class="store-name"></span>
									<span class="star" th:text="'★ ' + ${item.avgScore}"> </span>
								</div>
							</div>
							<span class="desc">매장 번호 | &nbsp;<span class="desc"
									th:text="${item.store_phone}"></span></span>
							<span class="desc">매장 주소 | &nbsp;<span class="desc"
									th:text="${item.full_address}"></span></span>
							<span class="desc">예약 시간 | &nbsp;<span class="desc" th:text="${item.reserve_dt}">>
								</span></span>
							<span class="date" th:text="${item.store_content}"></span></span>
							<div class="reservation-buttons">
								<button class="positive-button " style="width: 130px;" data-type="rebookBtn" th:data-store-idx="${item.store_idx}">재예약
									하기</button>
							</div>
						</div>
					</div>
				</div>
			</th:block>

			<!--			모달영역-->
			<div id="mypage-calendarModal" class="mypage-modal" style="display:none;">
				<div class="mypage-modal-content">
					<span class="close" id="mypage-closeCalendarModal">&times;</span>
					<div id="mypage-calendar-wrapper"
						th:with="holiday=${holiday}, availableTimes=${availableTimes}, storeIdx=${storeIdx}">
						<div th:replace="~{storeDetail/fragments/reservationCalendar :: reservationCalendar}"></div>
					</div>
				</div>
			</div>
			
			<div th:replace="mypage/pick :: mainnav"></div>
		</div>
	</div>
</body>

</html>