<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/mypage/setting.css}">
	<meta charset="UTF-8">
	<title>설정</title>
</head>

<body>
	<div layout:fragment="Content">

		<main class="setting-main">
			<div class="back-and-title">
				<span onclick="history.back()" class="setting-title">&lt;- <span class="setting-title">설정</span>
			</div>

			<div class="setting-section">
				<div class="setting-category">계정</div>
				<a href="/">
					<div class="setting-item">프로필 설정 <span class="setting-arrow">&gt;</span></div>
				</a>
			</div>

			<div class="horizontal-line"></div>

			<div class="setting-section">
				<div class="setting-category">카드</div>
				<a href="/card_edit">
					<div class="setting-item">카드 관리 <span class="setting-arrow">&gt;</span></div>
				</a>
				<a href="/">
					<div class="setting-item">카드 비밀번호 변경 <span class="setting-arrow">&gt;</span></div>
				</a>
				<a href="/qmoney_charge">
					<div class="setting-item">Q_money 충전 <span class="setting-arrow">&gt;</span></div>
				</a>
			</div>

			<div class="horizontal-line"></div>

			<div class="setting-section">
				<div class="setting-category">기타</div>
				<a href="/">
					<div class="setting-item">공지사항 <span class="setting-arrow">&gt;</span></div>
				</a>
				<a href="/">
					<div class="setting-item">1 : 1 문의 <span class="setting-arrow">&gt;</span></div>
				</a>
			</div>


	</div>
</body>

</html>