@charset "UTF-8";

#sidebar{
    padding: 30px 30px;
    box-sizing: border-box;
    align-self: flex-start;
    position: sticky;
    top: 20px;
    height: auto;
    max-height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
	gap: 50px;
    align-items: stretch;
    max-width: 300px;
}

#sidebar span {
	cursor: pointer;
	text-align: center;
}

.part {
	display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top > span {
	color:var(--color-placeholder);
	font-size:small;
	display: inline-flex;
  	align-items: center;
}

.selectedKeywords {
	display: flex;
	flex-wrap: wrap;  
	gap:5px;
	margin-top: 10px;
}

.selectedKeywords > .keyword {
	font-size: 12px;
}

.selectedKeywords:last-child > span {
	display: flex;
	flex-direction: column;
	align-items: center;
    height: 100%;
    gap: 10px;
}

.keyword {
	flex-basis: 31.33%;
	box-sizing: border-box; /* 패딩과 테두리를 너비에 포함시켜 계산을 쉽게 함 */
	text-align: center;
	flex-grow: 0;
	height:25px;
}



.keyword > img {
	width:30px;
	height:30px;
}

.keyword, .select {
	width:100%;
}

.select {
	font-size: 15px;
	color:#ffffff;
	border: 1px solid var(--color-main);
	border-radius: 20px;
	background-color:var(--color-main);
	align-content: center;
	text-align: center;
	text-decoration: none;
    margin-top: 10px;
	
}