@charset "UTF-8";

#sidebar{
    padding: 30px 25px;
    box-sizing: border-box;
    align-self: flex-start;
    position: sticky;
    top: 20px;
    height: auto;
    max-height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
	gap: 50px;
    align-items: stretch;
    max-width: 300px;
	user-select: none; /* 표준 속성 */
	-webkit-user-select: none; /* Safari, Chrome 등 */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE/Edge */
}
 
#sidebar span {
	cursor: pointer;
	text-align: center;
}

.part {
	display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top > h5 {
	font-weight: bold;
}

.top > span {
	color:var(--color-placeholder);
	font-size:small;
	display: inline-flex;
  	align-items: center;
}

.selectedKeywords {
	display: flex;
	flex-wrap: wrap;  
	gap:5px;
	margin-top: 10px;
}

.selectedKeywords > .keyword {
	font-size: 12px;
}
.selectedKeywords > .active {
	font-size: 12px;
	width: 10rem;
	font-weight: bold;
	color:#ffffff;
	border: 1px solid var(--color-main);
	border-radius: 20px;
	background-color:var(--color-main);
	align-content: center;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.selectedKeywords > .active:hover{
	background-color: #F05F5F;
}

section.part:last-child .selectedKeywords > div {
    display: flex;
    flex-direction: column;
    align-items: center;
	height: 100%;
    gap: 10px;
	border-radius: 8px;
	padding: 7px;
}

.keyword {
	flex-basis: 31.33%;
	box-sizing: border-box; /* 패딩과 테두리를 너비에 포함시켜 계산을 쉽게 함 */
	text-align: center;
	flex-grow: 0;
	height:25px;
}

.keyword:hover {
	background-color: #FFF8F8;
}

.keyword > img {
	width:30px;
	height:30px;
}

.keyword, .select {
	width:100%;
}

.select {
	font-size: 15px;
	border: 1px solid var(--color-main);
	border-radius: 20px;
	background-color:#ffffff;
	align-content: center;
	text-align: center;
	text-decoration: none;
    margin-top: 10px;
}

.range {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

#price {
	display: flex;
	justify-content: space-between;
}
#price > span:first-child {
	width: 49.98px;
}

.dashed-box {
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 20px 15px;
  color: #888;
  text-align: center;
  width: 100%;
  transition: background-color 0.4s ease;
}

.dashed-box:hover {
	border-color: var(--color-main); 
	color: var(--color-main);
	background-color: #FFF8F8; 
}

/* ===============================
          noUi 커스텀
==================================*/

.noUi-connect {
	background: var(--color-main) !important;
}

.noUi-handle {
	border: 3px solid var(--color-main) !important;
    border-radius: 50% !important;
	width: 30px !important;
    height: 30px !important;
    background: #FFF !important;
    cursor: default !important;
    box-shadow: 
	inset 0 0 1px #FFF, 
	inset 0 1px 7px #EBEBEB, 
	0 3px 6px -3px #BBB 
	!important;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none !important;
}

.noUi-horizontal {
    height: 9px !important;
}

.noUi-horizontal .noUi-handle {
    top: -12px !important;
}

.noUi-target {
	transform: translateX(23px) !important;
	width: 205px !important;
    background: rgb(228, 228, 228) !important;
    border-radius: 4px;
    border: 0.5px solid #ffffff !important;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}