.filter-button-layout{
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 20px;
	margin-left: 50px;
}


.list-layout{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
}


.element-row{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0px 20px;
	justify-content: space-between;
	gap: 50px;
	text-decoration: none;	
	color: gray;
	border-bottom: 1px solid var(--color-sub);
}


.element-row:hover{
	cursor: pointer;
	color: white;
	background-color: var(--color-sub);
}


/* ================================================= */
/* 라벨 사이즈들 */
/* ================================================= */

/* 번호 라벨 */
.label-num-size{
	width: 50px;
	text-align: center;
	align-items: center;
}


/* ID 라벨 */
.label-id-size{
	width: 150px;	
	text-align: center;
}


/* 날짜 라벨 */
.label-date-size{
	width: 100px;
	text-align: center;	
}


/* 시간 라벨 */
.label-time-size{
	width: 100px;	
	text-align: center;
}


/* 예약 결과 라벨 */
.label-result-size{
	width: 100px;	
	text-align: center;
}
