body{
	min-width: 1800px;
}


/* 스피너 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


/* ================================================= */
/* Root Layout */
.write-store-layout{
	display: flex;
  	flex-direction: column;
	height: fit-content;
	align-items: center;
	padding: 50px;
	gap: 20px;
	border-radius: 20px; 
    box-shadow: var(--form-box-shadow);
	min-width: 1000px;
}

/* ================================================= */
/* Store Profile Layout */
.store-profile-layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

/* Store Profile Image Size And Style */
.store-profile{
	width: 200px;
	height: 200px;
	border: 1px solid var(--color-main);
	border-radius: 20px;
}

/* ================================================= */
/* Layouts for Check Box */
.check-box-line-layout{
	display: flex;
	flex-direction: row;
	align-items: start;
	align-self: start;
	width: 900px;
	gap: 20px;	
	height: fit-content;
}


.checkbox-layout-row{
	display: flex;
	flex-direction: row;
	align-items: start;
	align-self: start;
	width: 130px;
	gap: 10px;	
	height: fit-content;
}

/* ================================================= */
/* Component Layout -> Row Type */
.component-layout-row{
	padding-left: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 1000px;
	gap: 50px;	
	height: fit-content;
}


.component-layout-column{
	padding-left: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	height: fit-content;
	gap: 10px;	
}

/* ================================================= */
/* Component Write Resizing */
.component-write{
	width: 400px;
}


textarea.component-write{
	width: 600px;
	height: 100px;
}

/* ================================================= */
/* Select Box Resizing */
.select-box{
	width: 150px;
	height: 25px;
	border-color: var(--color-main);
}

/* ================================================= */
/* Title Label */
.title-label{
	justify-content: left;
	width: 350px;
}

/* ================================================= */
/* Input Label */
.input-label{
	justify-content: left;
	width: 200px;
}

/* ================================================= */
/* Holiaday Choice Button -> 토글 형식 생각 필요 */
.holiday-button{
	border-radius: 20px;
	border: 1px solid var(--color-main);
	background-color: white;
	width: 80px;
	height: 80px;
}


.holiday-button.active{
	border-radius: 20px;
	border: 1px solid var(--color-main);
	background-color: var(--color-sub);
	color: white;
}


/* ================================================= */
/* Store Picture Upload Session Components */
.store_picture_layout{
	display: flex;
	flex-direction: column;
	height: fit-content;
	align-items: center;
	gap: 20px;
}


.store_picture_element{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	width: 800px;
	border: 1px solid var(--color-main);
	border-radius: 20px;
	padding: 10px 50px;
	gap: 50px;
}

/* Store Pictures Upload Info Label */
.info-picture-label{
	align-self: self-start !important;
	color: gray;
}

/* ================================================= */
/* Facility Choice Button -> 마찬가지로 토글 형식 생각 필요 */
.facility-button{
	border: 1px solid var(--color-main);
	border-radius: 10px;
	background-color: white;
	width: 60px;
	height: 60px;
}

.facility-icon-size{
	width: 100%;
	height: 100%;
}


.facility-button.active{
	background-color: var(--color-sub);
	color: white;
}


/* ================================================= */
/* Ingredient Upload Session Components */
.ingredient-main-layout{
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: 1000px;
	align-items: center;
	gap: 20px;
}


.ingredient-layout-row{
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 50px;
}


.ingredient-layout{
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 1000px;
	align-items: center;
	gap: 20px;
}


.ingredient-element{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
	width: 80%;
	border: 1px solid var(--color-main);
	border-radius: 20px;
	padding: 20px 20px;
	gap: 20px;
}


.ingredient-element-row{
	padding-left: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 20px;	
	height: fit-content;
}


.ingredient-label{
	justify-content: left;
	width: 150px;
}


/* ================================================= */
/* Menu Upload Session Components */
.menu-main-layout{
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: 1000px;
	align-items: center;
	gap: 20px;
}


.menu-layout-row{
	display: flex;
	flex-direction: row;
	height: fit-content;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 50px;
}


.menu-layout{
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 1000px;
	align-items: center;
	gap: 20px;
}


.menu-border{
	border: 1px solid var(--color-main);
	border-radius: 20px;
	padding: 20px 20px;
}


.menu-element{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
	width: 80%;
	gap: 20px;
}


.menu-element-row{
	padding-left: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 20px;	
	height: fit-content;
}


.menu-label{
	justify-content: left;
	width: 150px;
}


.menu-description-size{
	width: 400px !important;
	height: 50px !important;
}


.menu-weight-size{
	width: 200px !important;
}


/* Menu Image Size And Style */
.menu-image-size{
	width: 100px;
	height: 100px;
	border: 1px solid var(--color-main);
	border-radius: 20px;
}


