<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<link rel="stylesheet" th:href="@{/css/member/login.css}">
</head>
<body>
<th:block layout:fragment="Content">
	<div id="backgroundLogin">
		<img th:src="@{/img/background.png}" id="background">
		<div id="loginContent">
			<div class="login-left">
				<img th:src="@{/img/logo.png}" id="logo">
			</div>
			<div class="vertical-line"></div>
			<div class="login-right">
				<div class="login-tabs">
					<div class="tab active">개인 회원</div>
					<div class="tab">매장 회원</div>
					<div class="underline"></div>
				</div>
				<form class="login-form">
					<input type="text" placeholder="아이디" class="component-write" id="id">
					<input type="password" placeholder="비밀번호" class="component-write" id="passwd"> 
					<input type="hidden" name="memType" id="memType">
					<div class="login-options">
						<div>
							<input type="checkbox" class="component-checkbox" id="remember-me">
							<label for="remember-me" style="transform: translateY(2px);">로그인 유지</label>
						</div>
						<div>
							<input type="checkbox" class="component-checkbox" id="save-id">
							<label for="save-id" style="transform: translateY(2px);">아이디 저장</label>
						</div>
					</div>
					<button class="positive-button login-btn">로그인</button>
					<div class="find-links">
						<a href="#">아이디 비밀번호 찾기</a>
						<span>|</span>
						<a href="member_join">회원가입</a>
					</div>
					<div class="social-login">
						<div id="social-title">
						<div class="horizontal-line"></div>
						<p>소셜 계정 로그인</p>
						<div class="horizontal-line"></div>
						</div>
						<div class="social-icons">
							<a href="#"><img th:src="@{/icons/naver_icon.png}" alt="네이버"></a>
							<a href="#"><img th:src="@{/icons/google_icon.png}" alt="구글"></a>
							<a href="#"><img th:src="@{/icons/kakao_icon.png}" alt="카카오"></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<script th:src="@{/js/member/login.js}"></script>
</th:block>	
</body>
</html>