<div th:fragment="menuSection" xmlns:th="http://www.thymeleaf.org">
    <!-- 메뉴 섹션 -->
    <div class="menu-section">
        <div class="section-title">
			<div class="title-box">MENU</div>
        </div>
        <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-utensils"></i>   </span>
            <span class="info-label">메뉴판</span>
        </div>
        <div class="menu-images" th:if="${!menuBoardImages.isEmpty()}">
            <div class="menu-image" th:each="menuBoard : ${menuBoardImages}">
                <img th:src="@{${menuBoard}}" alt="메뉴판">
            </div>
        </div>
        <div class="menu-images" th:if="${menuBoardImages.isEmpty()}">
            <div class="menu-image">
                <img th:src="@{/img/default_menu_board.png}" alt="메뉴판 없음">
            </div>
        </div>

        <div class="horizontal-line"></div>

        <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-bowl-food"></i></span>
            <span class="info-label">MENU</span>
        </div>
        
        <!-- AJAX 리뷰가 렌더링될 영역 -->
        <div class="menu-list" id="menu-list"></div>
        
        <!-- AJAX 페이지네이션 컨테이너 랜더링 영역 -->
        <div id="menu-pagination"></div>

        <!-- 원산지 및 알레르기 정보 -->
        <div class="horizontal-line"></div>

        <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-leaf"></i></span>
            <span class="info-label">원산지 및 알레르기 정보</span>
        </div>

        <div class="ingredients-container" th:if="${!ingredientList.isEmpty()}">
            <table class="ingredients-table">
                <thead>
                    <tr>
                        <th>식자재</th>
                        <th>원산지</th>
                        <th>알레르기</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ingredient : ${ingredientList}">
                        <td th:text="${ingredient['ingredients_name']}"></td>
                        <td th:text="${ingredient['ingredients_origin']}"></td>
                        <td th:text="${ingredient['allergy'] != null and !ingredient['allergy'].isEmpty() ? ingredient['allergy'] : '-'}"
                            th:class="${ingredient['allergy'] != null and !ingredient['allergy'].isEmpty() ? 'allergy-warning' : ''}"></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>