<div th:fragment="menuSection" xmlns:th="http://www.thymeleaf.org">
    <!-- 메뉴 섹션 -->
    <div class="menu-section">
        <div class="section-title">
			<div class="title-box">MENU</div>
        </div>
            <div class="info-item">
                <span class="info-icon"><i class="fa-solid fa-utensils"></i>   </span>
                <span class="info-label">메뉴판</span>
            </div>
            <div class="menu-images">
                <div class="menu-image">
                    <img th:src="@{/img/test.png}" alt="메뉴">
                </div>
            </div>

            <div class="horizontal-line"></div>

            <div class="info-item">
                <span class="info-icon"><i class="fa-solid fa-bowl-food"></i></span>
                <span class="info-label">MENU</span>
            </div>
            <div class="menu-list">
                <div class="menu-item" th:each="menu : ${menu}">
                    <div class="menu-left">
                        <div class="menu-name">
                            <span th:text="${menu.menu_name}"></span>
                            <span class="menu-gram" th:if="${menu.menu_gram}" th:text="'(' + ${menu.menu_gram} + 'g)'"></span>
                        </div>
                        <span class="menu-price" th:text="${menu.price} + '원'"></span>
                    </div>
                    <div class="menu-center">
                        <span class="menu-description" th:text="${menu.menu_content}"></span>
                    </div>
                    <div class="menu-thumbnail">
                        <img th:src="@{${menu.menu_image}}" alt="메뉴1">
                    </div>
                </div>
            </div>
            

            <!-- 페이징 -->
            <div class="page-selector-layout">
                <div class="d-flex flex-row justify-content-center">
                    <button class="page-arrow">&lt;</button>
                    <button class="page-selector" >1</button>
                    <button class="page-selector">2</button>
                    <button class="page-selector">3</button>
                    <button class="page-arrow">&gt;</button>
                </div>
            </div>
    </div>
</div>