<div th:fragment="storeInfoSection" xmlns:th="http://www.thymeleaf.org">
    <!-- 식당 정보 섹션 -->
    <div class="section-title">
        <div class="title-box">식당 정보</div>
    </div>
        <div class="restaurant-header">
            <div class="restaurant-image">
                <img th:src="@{/img/test.png}" alt="참잘돼지국밥">
                <div class="image-nav">
                    <button class="nav-button">◀</button>
                    <button class="nav-button">▶</button>
                </div>
                <div class="image-label">모든 사진 보기</div>
            </div>
            <div class="restaurant-info">
                <h1 class="restaurant-name">참잘돼지국밥</h1>
                <div class="rating">
                    <span class="stars">★★★★☆</span>
                    <span class="rating-score">3.78</span>
                    <span class="rating-count">(242건)</span>
                </div>
                <div class="action-buttons">
                    <button class="positive-button action-btn">스크랩</button>
                    <button class="positive-button action-btn">문의하기</button>
                </div>
            </div>
        </div>

        <div class="horizontal-line"></div>

        <ul class="info-list">
            <li class="info-item">
                <span class="info-icon"><i class="fa-regular fa-clock"></i></span>
                <span class="info-label">영업 시간</span>
                <span class="info-content">매주 월 ~ 금 09:00 ~ 20:00</span>
            </li>
            <li class="info-item">
                <span class="info-icon"><i class="fa-solid fa-phone"></i></span>
                <span class="info-label">식당 전화번호</span>
                <span class="info-content">010-1234-1234</span>
            </li>
            <li class="info-item">
                <span class="info-icon"><i class="fa-solid fa-map-location-dot"></i></span>
                <span class="info-label">오시는 길</span>
            </li>
        </ul>

        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.9876543210123!2d128.8765432109876!3d35.1567890123456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDA5JzI0LjQiTiAxMjjCsDUyJzM1LjYiRQ!5e0!3m2!1sko!2skr!4v1234567890123"></iframe>
        </div>
        <p class="map-address">부산 아이터월 1111</p>

        <div class="horizontal-line"></div>

        <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-tags"></i></span>
            <span class="info-label">카테고리</span>
            <div class="tags">
                <span class="tag">중식</span>
            </div>
        </div>


        <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-chair"></i></span>
            <span class="info-label">매장 분위기</span>
            <div class="tags">
                <span class="tag">룸</span>
            </div>
        </div>
	
		
		
		<div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-bell-concierge"></i></span>
            <span class="info-label">편의시설</span>
        </div>
        <div class="table-types">
			<div class="table-grid">
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_wifi.png}" alt="Wi-Fi" class="facility-icon"> Wi-Fi</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_parking.png}" alt="주차가능" class="facility-icon"> 주차가능</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_power.png}" alt="콘센트" class="facility-icon"> 콘센트</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_nokid.png}" alt="노키즈존" class="facility-icon"> 노키즈존</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_kid_allow.png}" alt="아이동반" class="facility-icon"> 아이동반</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_pet.png}" alt="반려동물" class="facility-icon"> 반려동물</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_wheel_chair.png}" alt="장애인편의" class="facility-icon"> 장애인편의</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_group.png}" alt="단체석" class="facility-icon"> 단체석</label>
			    </div>
			    <div class="table-item">
			        <label><img th:src="@{/icons/store_facility/icon_room.png}" alt="룸" class="facility-icon"> 룸</label>
			    </div>
			</div>
		</div>


        <div class="info-item">
            <span class="info-icon"><i class="fa-solid fa-store"></i></span>
            <span class="info-label">매장 소개</span>
        </div>
        <div class="store-intro">
            매장소개영역
        </div>
</div>
