@charset "UTF-8";

/* custom.css */
.main-sidebar .brand-link .brand-image {
  float: none !important;
  max-height: none !important;
  margin: -56px auto !important;
  max-width: 90%;
  height: auto;
  box-sizing: border-box;
}

/* 프로필 이미지 크기 */
.main-sidebar .user-panel .profile-img {
  width: 85px;
  height: 75px;
}

/* 프로필 이름 글자 크기 */
.user-panel .info a {
	margin-top: 15px;
	margin-left: 15px;
	font-size: 1.5rem;
}

.mt-2 .nav .nav-item {
	
}

/* --- 대시보드 페이지 커스텀 스타일 --- */

.content .container-fluid.custom-padding {
  padding-left: 50px;
  padding-right: 50px;
}

/* 상단 요약 박스 */
.summary-box {
    padding: 15px;
    display: flex;
    flex-wrap: wrap; /* 요소들이 넘칠 경우 줄바꿈 */
    align-items: center;
    min-height: 150px; /* 최소 높이 지정 */
    border: none; /* form-box의 테두리 제거 */
	margin-top: 50px;
}

.summary-box::before {
    background-color: var(--color-main); /* common.css 변수 사용 */
}

.summary-box-text {
    width: 60%;
}

.summary-box-text h4 {
    font-size: 1rem;
    color: var(--color-placeholder);
    margin-bottom: 5px;
}

.summary-box-text h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-font);
    margin: 0;
}

.summary-box-icon {
    width: 40%;
    text-align: right;
    font-size: 3.5rem;
    color: var(--color-sub);
}

.summary-box-button {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
}

/* 차트 카드 헤더  */
.card-main-header {
  background-color: var(--color-font-positive); 
  border: 2px solid var(--color-main);
  color: var(--color-font);
  border-radius: 20px 20px 0 0 !important;
}

.card-main-header .card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
