<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
	
	<head>
	    <title>구독권 구매 페이지</title>
	    <link rel="stylesheet" th:href="@{/css/storeManagement/commonStoreManagement.css}">
		<link rel="stylesheet" th:href="@{/css/storeManagement/purchaseSubscribe.css}">
		<script th:src="@{/js/storeManagement/purchaseSubscribe.js}"></script>
		
	</head>
	
	<body>
		
		<div layout:fragment="Content">
			
			<br>
			
			<div class="root-layout">
				
				<!-- Store Management Side Bar -->
				<div th:replace="storeManagement/storeProfile :: storeProfile"></div>
				
				<!-- 메인 컨텐츠 담는 DIV -->
				<div class="sub-layout">
					
					<div class="row-component">
						<h3>구독권 구매</h3>	
					</div>
					
					<div style="color: var(--color-main); margin-left: 150px;">구독 만기일: <b th:text="${subscribe != null ? #dates.format(subscribe.subscribe_end, 'yyyy-MM-dd HH:mm') : '구독권을 구매하지 않으셨습니다.'}">100 Day</b></div> 
					
					<!-- 구매 가능한 구독권 출력 -->
					<div class="row-component" th:each="sUnit, i : ${mUnitList}" th:switch="${sUnit.code}">
						
						<div class="subscribe-layout">
							<img src="icons/icon_subscribe.png" class="subscribe-icon-size">
							
							<label class="subscribe-label-size"><b th:text="|${sUnit.code_label} 일 구독권|" class="subscribe-date"></b></label>
							
							<label class="subscribe-label-size data-info" th:data-date="90" th:data-price="500000" th:case="'msdu_01'"><b>500,000 큐머니</b></label>
							<label class="subscribe-label-size data-info" th:data-date="180" th:data-price="800000" th:case="'msdu_02'"><b>800,000 큐머니</b></label>
							<label class="subscribe-label-size data-info" th:data-date="365" th:data-price="1000000" th:case="'msdu_03'"><b>1,000,000 큐머니</b></label>
						</div>	
						
					</div>
					
					<br>
					
					<div id="choice_info" style="color: var(--color-main); margin-left: 150px;">선택된 구독권이 존재하지 않습니다</div> 
					
					<div class="row-component-gap20">
						<button class="positive-button purchase-button">구매</button>
					</div>
					
				</div>
				<!-- 메인 컨텐츠 Layout End -->
				
			</div>

		</div>		
	
	</body>
	
</html>