<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
	
	<head>
	    <title>정산 목록</title>
	    <link rel="stylesheet" th:href="@{/css/storeManagement/commonStoreManagement.css}">
		<link rel="stylesheet" th:href="@{/css/storeManagement/storeCalculateList.css}">
	</head>
	
	<body>
		
		<div layout:fragment="Content">
			
			<br>
			
			<div class="root-layout">
				
				<!-- Store Management Side Bar -->
				<div th:replace="storeManagement/storeProfile :: storeProfile"></div>
				
				<!-- 메인 컨텐츠 담는 DIV -->
				<div class="sub-layout">
					
					<div class="row-component">
						<h3>정산 목록</h3>	
					</div>
					
					<!-- 목록 배치 레이아웃 -->
					<div class="list-layout">
						
						
						<!-- 리스트 항목 안내 태그 -->
						<div class="element-row" style="background-color: var(--color-main); color: white;">
							<label class="label-num-size"><b>번호</b></label>
							<label class="label-id-size"><b>ID</b></label>
							<label class="label-status-size"><b>상태</b></label>
							<label class="label-date-size"><b>날짜</b></label>
							<label class="label-price-size"><b>금액</b></label>
						</div>
						
						<!-- 더미 리스트 항목 1 -->
						<a  th:each="cal, i : ${cList}" th:href="@{/store_calculate_detail(jeongsan_idx=${cal.jeongsan_idx})}" class="element-row">
							<b class="label-num-size" th:text="${i.count}"></b>
							<b class="label-id-size" th:text="${cal.member_id}"></b>
							<b class="label-status-size" th:text="${cal.result_label}"></b>
							<b class="label-date-size" th:text="${cal.processed_at}"></b>
							<b class="label-price-size" th:text="${cal.jeongsan_amount} + ₩"></b>
						</a>

					</div>
					
					<!-- 페이지네이션 셀렉터 -->
					<div class="page-selector-layout" 
					th:with="curr=${pageVo.pageNum}, prev=${pageVo.pageNum - 1}, next=${pageVo.pageNum + 1}, start=${pageVo.startPage}, end=${pageVo.endPage}, max=${pageVo.maxPage}, currFilter=${filter}" >
					  <!-- 이전 -->
					  <button class="page-selector" th:onclick="|location.href='@{/store_calculate_list(pageNum=${prev}, filter=${currFilter})}'|" th:disabled="${curr <= 1}">&lt;</button>
					  <!-- 페이지 번호들 -->
					  <button class="page-selector" th:each="p : ${#numbers.sequence(start, end)}" th:text="${p}" th:onclick="|location.href='@{/store_calculate_list(pageNum=${p})}'|"  th:classappend="${p == curr} ? ' active' : ''"></button>
					  <!-- 다음 -->
					  <button class="page-selector" th:onclick="|location.href='@{/store_calculate_list(pageNum=${next})}'|" th:disabled="${curr >= max}">&gt;</button>
					</div>
	
				</div>
				<!-- 메인 컨텐츠 Layout End -->
				
			</div>

		</div>		
	
	</body>
	
</html>