<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
	
	<head>
	    <title>예약 상세 정보</title>
	    <link rel="stylesheet" th:href="@{/css/storeManagement/commonStoreManagement.css}">
		<link rel="stylesheet" th:href="@{/css/storeManagement/storeReservationDetail.css}">
	</head>
	
	<body>
		
		<div layout:fragment="Content">
			
			<br>
			
			<div class="root-layout">
				
				<!-- Store Management Side Bar -->
				<div th:replace="storeManagement/storeProfile :: storeProfile"></div>
				
				<!-- 메인 컨텐츠 담는 DIV -->
				<form class="sub-layout" th:action="@{/modify_store_reservation_result}" method="post">
					
					<input type="hidden" th:value="${resData.reserve_idx}" name="reserve_idx">
					<input type="hidden" th:value="${resData.member_idx}" name="member_idx">
					
					<div class="row-component">
						<h3>예약 상세 정보</h3>	
					</div>
					
					<div class="detail-row">
						<label class="info-label">예약자 ID:</label>
						<label class="info-data-label" th:text="${resData.member_id}">USER_01</label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">예약자 성함:</label>
						<label class="info-data-label" th:text="${resData.reserve_name}">USER_01</label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">예약 날짜:</label>
						<label class="info-data-label" th:text="${resData.reserve_date}">25.09.19</label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">예약 시간:</label>
						<label class="info-data-label" th:text="${resData.reserve_time}">18:00</label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">총 인원: </label>
						<label class="info-data-label" th:text="${resData.person_count}">5 명</label>
					</div>
					
					<br>
					
					<div class="detail-column">
						<label class="info-label">예약자 요구사항</label>
						<div class="component-write" th:text="${resData.requirement}"></div>
					</div>
					
					<div class="detail-column">
						<label class="info-label">예약자 알레르기 사항</label>
						<div class="component-write" th:text="${resData.allergy}"></div>
					</div>

					<div class="horizontal-line"></div>
					
					<div class="detail-row">
						<label class="info-label">예약 결과</label>
						
						<select class="select-box" th:disabled="${resData.reserve_result != 'rsrt_05' or resData.reserve_result == 'rsrt_03'}" name="reserve_result">
							<option th:each="ccd, i : ${resvList}" th:text="${ccd.code_label}" th:value="${ccd.code}" th:selected="${resData.reserve_result == ccd.code}"></option>
						</select>
					</div>
					
					<div class="detail-column">
						<label class="info-label" style="font-size: 12px; color: red;">*방문 완료, 노쇼는 예약 당일 + 예약 시간 30분 뒤에 선택할 수 있습니다.</label>

					</div>
					
					
					<div class="detail-column">
						<label class="info-label">예약 거부 사유</label>
						<textarea class="component-write" th:text="${resData.deny_reason}" name="deny_reason" th:readonly="${resData.reserve_result != 'rsrt_05' or resData.reserve_result == 'rsrt_03'}"></textarea>
					</div>
					
					<br>
					
					<!-- 취소, 전송 버튼 -->
					<div class="row-component-gap20">
						<button type="button" class="negative-button" onclick="history.back()">취소</button>
						<button type="submit" class="positive-button" onclick="location.href='/store_reservation_list'">등록</button>
					</div>
	
				</form>
				<!-- 메인 컨텐츠 Layout End -->
				
			</div>

		</div>		
	
	</body>
	
</html>