<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
	
	<head>
	    <title>매장 통계</title>
		<!-- 통계 라이브러리(charts.js) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
		<script src="/js/storeManagement/storeStatistic.js"></script>
		<script id="init_statistic" type="application/json" th:inline="javascript">
			/*[[${initStatistic}]]*/
		</script>
		
		
	    <link rel="stylesheet" th:href="@{/css/storeManagement/commonStoreManagement.css}">
		<link rel="stylesheet" th:href="@{/css/storeManagement/storeStatistic.css}">
	</head>
	
	<body>
		
		<div layout:fragment="Content">
			
			<br>
			
			<div class="root-layout">
				
				<!-- Store Management Side Bar -->
				<div th:replace="storeManagement/storeProfile :: storeProfile"></div>
				
				<!-- 메인 컨텐츠 담는 DIV -->
				<div class="sub-layout">
					
					<div class="row-component">
						<h3>매장 통계</h3>	
					</div>
					
					<div class="detail-column">

						<!-- 통계 카테고리 -->
						<div class="d-flex flex-row">
							<label class="info-data-label">현재 통계:</label>
							<select class="select-box" id="statistic_value">
								<option th:each="code, i : ${stList}" th:text="${code.code_label}" th:value="${code.code}"></option>
							</select>		
						</div>

					</div>
					
					<!-- 그래프 모양 선택 버튼 -->
					<div class="d-flex flex-row gap-3">
						<button class="type-bt negative-button active" id="bar_bt" data-type="bar">바 모양</button>
						<button class="type-bt negative-button" id="line_bt" data-type="line">선 모양</button>
					</div>
					
					<canvas id="s_canvas" width="800" height="200" class="s-canvas"></canvas>
					
					<div class="d-flex flex-row">
						<label style="color: red; font-size: 12px;">*통계 단위는 월 단위, 1년 기간 입니다.</label>	
					</div>

				</div>
				<!-- 메인 컨텐츠 Layout End -->
				
			</div>

		</div>		
	
	</body>
	
</html>