<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
	
	<head>
	    <title>매장 통계</title>
		<!-- 통계 라이브러리(charts.js) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
		<script src="/js/storeManagement/storeStatistic.js"></script>
		
	    <link rel="stylesheet" th:href="@{/css/storeManagement/commonStoreManagement.css}">
		<link rel="stylesheet" th:href="@{/css/storeManagement/storeStatistic.css}">
	</head>
	
	<body>
		
		<div layout:fragment="Content">
			
			<br>
			
			<div class="root-layout">
				
				<!-- Store Management Side Bar -->
				<div th:replace="storeManagement/storeProfile :: storeProfile"></div>
				
				<!-- 메인 컨텐츠 담는 DIV -->
				<div class="sub-layout">
					
					<div class="row-component">
						<h3>매장 통계</h3>	
					</div>
					
					<div class="detail-column">
						
						<!-- 통계 카테고리 -->
						<div class="d-flex flex-row">
							<label class="info-data-label">현재 통계:</label>
							<select class="select-box" id="statistic_value">
								<option th:each="code, i : ${stList}" th:text="${code.code_label}" th:value="${code.code}"></option>
							</select>		
						</div>
						
						<!-- 통계 날짜 단위 -->
						<div class="d-flex flex-row gap-3">
							<button class="positive-button s-bt" th:each="code, i : ${duList}" th:text="${code.code_label}"></button>
						</div>
						
						<br>
				
					</div>
					
					<canvas id="chart_ui" width="800" height="200"></canvas>

				</div>
				<!-- 메인 컨텐츠 Layout End -->
				
			</div>

		</div>		
	
	</body>
	
</html>