<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
	
	<head>
	    <title>정산 상세 정보</title>
	    <link rel="stylesheet" th:href="@{/css/storeManagement/commonStoreManagement.css}">
		<link rel="stylesheet" th:href="@{/css/storeManagement/storeCalculateDetail.css}">
	</head>
	
	<body>
		
		<div layout:fragment="Content">
			
			<br>
			
			<div class="root-layout">
				
				<!-- Store Management Side Bar -->
				<div th:replace="storeManagement/storeProfile :: storeProfile"></div>
				
				<!-- 메인 컨텐츠 담는 DIV -->
				<div class="sub-layout">
					
					<div class="row-component">
						<h3>정산 상세 정보</h3>	
					</div>
					
					<div class="detail-row">
						<label class="info-label">매장 명:</label>
						<label class="info-data-label" th:text="${cal.store_name}">영재게이 삼겹살 전문점</label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">정산 날짜:</label>
						<label class="info-data-label" th:text="${cal.processed_at}">25.09.19</label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">매장 계좌번호:</label>
						<label class="info-data-label" th:text="${cal.account_number}"></label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">매장 주소:</label>
						<label class="info-data-label" th:text="${cal.full_address}"></label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">정산 금액:</label>
						<label class="info-data-label" th:text="${cal.jeongsan_amount} + ₩"></label>
					</div>
					
					<div class="detail-row">
						<label class="info-label">정산 상태: </label>
						<label class="info-data-label" th:text="${cal.result_label}"></label>
					</div>
					
					<br>
					
					<div class="detail-column">
						<label class="info-label">반려 사유</label>
						<div class="component-write" th:text="${cal.rejection_reason}"></div>
					</div>

					<br>
					
					<div class="row-component-gap20">
						<button class="positive-button" onclick="history.back()">돌아가기</button>
					</div>
	
				</div>
				<!-- 메인 컨텐츠 Layout End -->
				
			</div>

		</div>		
	
	</body>
	
</html>