<div th:fragment="storeManagementSideBar" class="side-bar-layout">
	<a href="/write_store" class="positive-button category-button-size">매장 정보 등록</a>
	<a href="/write_store" class="positive-button category-button-size">매장 정보 수정</a>
	<a href="#" class="positive-button category-button-size">매장 통계</a>
	<a href="/store_reservation_list" class="positive-button category-button-size">예약 목록</a>
	<a href="/store_calculate_list" class="positive-button category-button-size">정산 목록</a>
	<a href="/purchase_subscribe" class="positive-button category-button-size">구독권 구매</a>
</div>