<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
	
	<head>
	    <title>매장 등록</title>
	    <link rel="stylesheet" th:href="@{/css/store_management/write_store.css}">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script src="js/storeManagement/writeStore.js"></script>
	</head>
	
	<body>
		
		<div layout:fragment="Content">
			
			
			<form action="/write_store" method="post" class="write-store-layout" enctype="multipart/form-data">
				
				<div class="d-flex flex-row justify-content-center">
					<h1>매장 정보 등록</h1>	
				</div>

				<div class="store-profile-layout">
					<img src="icons/icon_store_profile.png" class="store-profile">
					<label class="positive-button" for="store_profile_file">프로필 업로드</label>
					<input type="file" name="store_profile_file" id="store_profile_file" style="display: none;" accept=".jpg, .jpeg, .png">
					<span class="store-profile-name">선택된 파일 없음</span>
				</div>
				
				<div class="horizontal-line"></div>

				<!-- 매장 기본 정보(매장 명, 전화 번호 입력) -->
				<div class="component-layout-row">
					<label for="store_name" class="input-label"><b>*매장 명</b></label>
					<input type="text" class="component-write" placeholder="매장 명" id="store_name" name="store_name">	
				</div>
				
				<div class="component-layout-row">
					<label for="store_phone" inputmode="numeric" class="input-label"><b>*매장 전화번호</b></label>
					<input type="text" class="component-write" placeholder="매장 전화번호: (-) 제외 숫자 11자리만 입력하세요." id="store_phone" name="store_phone" maxlength="11">	
				</div>
				
				<div class="component-layout-row">
					<label for="store_account_number" inputmode="numeric" class="input-label"><b>*매장 계좌번호</b></label>
					<input type="text" class="component-write" placeholder="매장 계좌번호 - 숫자만 입력하세요." id="account_number" name="account_number">
						
					<select name="store_account_bank" class="select-box">
						<option>국민은행</option>
						<option>부산은행</option>
						<option>우리은행</option>					
						<option>은행 계속 ...</option>
					</select>
				</div>
				
				<br>
				
				<!-- 주소 입력 영역 -->
				<div class="component-layout-row">
					<label for="post_code" class="input-label"><b>*우편 번호</b></label>
					<input type="text" class="component-write" placeholder="우편 번호" id="post_code" name="post_code" readonly>	
					<button type="button" class="positive-button" id="address_button">주소 선택</button>
				</div>
				
				<div class="component-layout-row">
					<label for="address" class="input-label"><b>*주소</b></label>
					<input type="text" class="component-write" placeholder="매장 주소" id="address" name="address" readonly>	
				</div>
				
				<div class="component-layout-row">
					<label for="address_detail" class="input-label"><b>*주소(상세)</b></label>
					<input type="text" class="component-write" placeholder="매장 상세 주소" id="address_detail" name="address_detail">	
				</div>
				
				<br>
				
				<div class="component-layout-row">
					<label for="total_seat" class="input-label"><b>*총 좌석 수</b></label>
					<input type="text" class="component-write" placeholder="매장 내 총 좌석수 입력" id="store_seat" name="store_seat">	
				</div>
								
				<div class="component-layout-row">
					<label for="reservation_deposit" class="input-label"><b>예약금 설정</b></label>
					<input type="text" class="component-write" placeholder="예약금 입력" id="deposite" name="deposite">	
					<b>원</b>
				</div>
				<label class="info-picture-label" style="margin-left: 100px; color: red;">* 예약금을 받지 않을 예정이면, 0을 입력하세요.</label>
				<br>
				
				<div class="component-layout-row">
					<label for="store_description" class="title-label"><h4>*매장 소개</h4></label>
				</div>
				
				<div class="component-layout-row">
					<textarea type="text" class="component-write" placeholder="" id="store_content" name="store_content"></textarea>
				</div>
				
				<div class="horizontal-line"></div>
				
				<!-- 매장 운영 시간 입력 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>*매장 운영 시간 선택</h4></label>
				</div>
				
				<div class="component-layout-row">
					<label for="is_24hour" class="input-label">24시간 운영하는 매장 인가요?</label>
					<input type="checkbox" class="component-checkbox" name="is_24hour" id="is_24hour">
				</div>
	
				
				<div class="component-layout-row">
					<label for="open_time" class="input-label"><b>Open Time</b></label>
						
					<select name="open_time" id="open_time" class="select-box">
						<option>00:00</option>
						<option>00:30</option>
						<option>01:00</option>					
						<option>01:30</option>
						<option>...</option>
					</select>
				</div>
				
				<div class="component-layout-row">
					<label for="close_time" class="input-label"><b>Close Time</b></label>
						
					<select name="close_time" id="close_time" class="select-box">
						<option>00:00</option>
						<option>00:30</option>
						<option>01:00</option>					
						<option>01:30</option>
						<option>...</option>
					</select>
				</div>
				
				<div class="horizontal-line"></div>
				
				<!-- 매장 휴일 선택 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>휴일 선택(중복 가능)</h4></label>
				</div>
				
				<div class="component-layout-row">
					<input type="hidden" name="holidays" id="holidays">
					<button type="button" class="holiday-button" value="srhd_01">월</button>
					<button type="button" class="holiday-button" value="srhd_02">화</button>
					<button type="button" class="holiday-button" value="srhd_03">수</button>
					<button type="button" class="holiday-button" value="srhd_04">목</button>
					<button type="button" class="holiday-button" value="srhd_05">금</button>
					<button type="button" class="holiday-button" value="srhd_06">토</button>
					<button type="button" class="holiday-button" value="srhd_07">일</button>	
				</div>
				
				<label class="info-picture-label" style="margin-left: 100px; color: red;">* 필수 선택 사항이 아닙니다.</label>
				
				<div class="horizontal-line"></div>

				<!-- 매장 사진 업로드 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>매장 사진 업로드</h4></label>
					<button class="positive-button" type="button" id="sp_upload">추가</button>
					
					<!-- 상점 사진 임시로 담는 곳 -->
<!--					<div id="store_picture_input" style="display:none;"></div>-->
				</div>
				
				<div class="store_picture_layout">
					
					<div class="store_picture_element">
						<i class="bi bi-trash fs-4 sp-remove-bt"></i>
						<label class="positive-button">매장 사진 추가<input type="file" data-field="store_picture" accept=".jpg, .jpeg, .png" hidden></label>
						<span class="sp-name">선택된 파일 없음</span>
					</div>
					
				</div>
				
				<!-- Just Info Text -->
				<label class="info-picture-label" style="margin-left: 100px; color: red;">* 필수 선택 사항이 아닙니다.</label>
				
				<div class="horizontal-line"></div>

				<!-- 매장 휴일 선택 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>*음식 분류 카테고리(중복 가능)</h4></label>
				</div>
				
				<div class="component-layout-column">
					
					<!-- Store Category -> Country -->
					<label class="title-label" style="align-self: start;"><h5>국가별</h5></label>
					
					<!-- Country - 1 -->
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_01" name="store_category" class="component-checkbox">
							<label>한식</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_02" name="store_category" class="component-checkbox">
							<label>중식</label>	
						</div>

						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_03" name="store_category" class="component-checkbox">
							<label>일식</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_04" name="store_category" class="component-checkbox">
							<label>양식</label>	
						</div>		
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_05" name="store_category" class="component-checkbox">
							<label>분식</label>	
						</div>	
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_06" name="store_category" class="component-checkbox">
							<label>기타</label>	
						</div>		
					</div>
					
					<!-- Country - 2 -->
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_07" name="store_category" class="component-checkbox">
							<label>프랑스</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_08" name="store_category" class="component-checkbox">
							<label>스페인</label>	
						</div>

						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_09" name="store_category" class="component-checkbox">
							<label>아메리칸</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_10" name="store_category" class="component-checkbox">
							<label>유러피안</label>	
						</div>		
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_11" name="store_category" class="component-checkbox">
							<label>아시아</label>	
						</div>	
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_12" name="store_category" class="component-checkbox">
							<label>퓨전</label>	
						</div>		
					</div>		
					
					<!-- Country - 3 -->
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_13" name="store_category" class="component-checkbox">
							<label>베트남</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_14" name="store_category" class="component-checkbox">
							<label>태국</label>	
						</div>

						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_15" name="store_category" class="component-checkbox">
							<label>인도</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_16" name="store_category" class="component-checkbox">
							<label>멕시코</label>	
						</div>			
					</div>	

					<br>
					
					<!-- Store Category -> Meat(?) -->
					<label class="title-label" style="align-self: start;"><h5>육류</h5></label>
										
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_17" name="store_category" class="component-checkbox">
							<label>소고기</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_18" name="store_category" class="component-checkbox">
							<label>돼지고기</label>	
						</div>

						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_19" name="store_category" class="component-checkbox">
							<label>양고기</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_20" name="store_category" class="component-checkbox">
							<label>닭/오리</label>	
						</div>		
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_21" name="store_category" class="component-checkbox">
							<label>곱창/막창</label>	
						</div>	
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_22" name="store_category" class="component-checkbox">
							<label>족발/보쌈</label>	
						</div>		
					</div>
					
					<br>
					
					<!-- Store Category -> Seafood -->
					<label class="title-label" style="align-self: start;"><h5>해산물</h5></label>
										
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_23" name="store_category" class="component-checkbox">
							<label>스시</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_24" name="store_category" class="component-checkbox">
							<label>회</label>	
						</div>

						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_25" name="store_category" class="component-checkbox">
							<label>갑각류</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_26" name="store_category" class="component-checkbox">
							<label>해물탕/찜</label>	
						</div>		
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_27" name="store_category" class="component-checkbox">
							<label>어패류</label>	
						</div>		
					</div>
					
					<br>
					
					<!-- Store Category -> Drink(alcohol) -->
					<label class="title-label" style="align-self: start;"><h5>술</h5></label>
										
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_28" name="store_category" class="component-checkbox">
							<label>이자카야</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_29" name="store_category" class="component-checkbox">
							<label>바</label>	
						</div>

						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_30" name="store_category" class="component-checkbox">
							<label>호프</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_31" name="store_category" class="component-checkbox">
							<label>요리주점</label>	
						</div>			
					</div>
					
					<br>
					<!-- Store Category -> Drink(alcohol) -->
					<label class="title-label" style="align-self: start;"><h5>카페</h5></label>
										
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="srct_32" name="store_category" class="component-checkbox">
							<label>카페</label>	
						</div>
					</div>
										
				</div>
				
				<div class="horizontal-line"></div>
				
				<!-- 편의 시설 선택 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>편의 시설(중복 가능)</h4></label>
				</div>

				<div class="component-layout-row">
					<input type="hidden" name="store_facilities" id="store_facilities">
					<button type="button" class="facility-button" value="cnvfc_01"><img src="icons/store_facility/icon_power.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_02"><img src="icons/store_facility/icon_kid_allow.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_03"><img src="icons/store_facility/icon_pet.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_04"><img src="icons/store_facility/icon_nokid.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_05"><img src="icons/store_facility/icon_wifi.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_06"><img src="icons/store_facility/icon_parking.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_07"><img src="icons/store_facility/icon_wheel_chair.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_08"><img src="icons/store_facility/icon_group.png" class="facility-icon-size"></button>
					<button type="button" class="facility-button" value="cnvfc_09"><img src="icons/store_facility/icon_room.png" class="facility-icon-size"></button>
				</div>
				
				<label class="info-picture-label" style="margin-left: 100px; color: red;">* 필수 선택 사항이 아닙니다.</label>
				
				<div class="horizontal-line"></div>

				<!-- 식자제 정보 작성 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>*식자재 정보</h4></label>
					<button type="button" class="positive-button" id="ing_upload">정보 추가</button>
				</div>

				<div class="ingredient-layout">	
											
					<!-- Example Ingredient (1) -->
					<div class="ingredient-layout-row">
						
						<div class="d-flex flex-row justify-content-center align-item-center">
							<i class="bi bi-trash fs-4 ing-remove-bt"></i>
						</div>
						
						<div class="ingredient-element">
							<div class="ingredient-element-row">
								<label class="ingredient-label"><b>재료명</b></label>
								<input type="text" data-field="ingredients_name" class="component-write" placeholder="재료 명을 입력하세요.">	
							</div>
							
							<div class="ingredient-element-row">
								<label class="ingredient-label"><b>원산지</b></label>
								<input type="text" data-field="ingredients_origin" class="component-write" placeholder="재료의 원산지를 입력하세요.">	
							</div>
							
							<div class="ingredient-element-row">
								<label class="ingredient-label"><b>알레르기 정보</b></label>
								<input type="text" data-field="allergy" class="component-write" placeholder="해당 재료의 알레르기 정보를 입력하세요.">	
							</div>
						</div>
					</div>
					
				</div>
	
				<div class="horizontal-line"></div>

				<!-- 매장 분위기 선택 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>매장 분위기(중복 가능)</h4></label>
				</div>
				
				<div class="component-layout-column">
					
					<div class="check-box-line-layout">
						
						<!-- atmosphere line (1) -->
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_01" name="store_atmosphere" class="component-checkbox">
							<label>데이트</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_02" name="store_atmosphere" class="component-checkbox">
							<label>비즈니스 미팅</label>	
						</div>

						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_03" name="store_atmosphere" class="component-checkbox">
							<label>기념일</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_04" name="store_atmosphere" class="component-checkbox">
							<label>단체회식</label>	
						</div>		
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_05" name="store_atmosphere" class="component-checkbox">
							<label>가족모임</label>	
						</div>	
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_06" name="store_atmosphere" class="component-checkbox">
							<label>뷰</label>	
						</div>		
					</div>
					
					<!-- atmosphere line (2) -->
					<div class="check-box-line-layout">
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_07" name="store_atmosphere" class="component-checkbox">
							<label>상견례</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_08" name="store_atmosphere" class="component-checkbox">
							<label>조용한</label>	
						</div>
	
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_09" name="store_atmosphere" class="component-checkbox">
							<label>모던한</label>	
						</div>
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_10" name="store_atmosphere" class="component-checkbox">
							<label>전통적인</label>	
						</div>		
						
						<div class="checkbox-layout-row">
							<input type="checkbox" value="atmo_11" name="store_atmosphere" class="component-checkbox">
							<label>트렌디한</label>	
						</div>		
					</div>
				
				</div>

				<div class="horizontal-line"></div>
				
				<!-- 인당 평균 식사 비용 입력 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>*인당 평균 비용(예상)</h4></label>
				</div>
				
				<div class="component-layout-row">
					<input type="text" class="component-write" placeholder="숫자만 입력하세요" id="store_cost_avg" name="store_cost_avg"><b>원</b>
				</div>
				
				<div class="horizontal-line"></div>
				
				<!-- 매장 메뉴 등록 영역 -->
				<div class="component-layout-row">
					<label class="title-label"><h4>*메뉴 등록</h4></label>
					<button type="button" class="positive-button" id="menu_upload">메뉴 추가</button>
				</div>
				
				<div class="menu-layout">	
															
					<!-- Example Menu (1) -->
					<div class="menu-layout-row">
						
						<div class="d-flex flex-row justify-content-center align-item-center">
							<i class="bi bi-trash fs-4 menu-remove-bt"></i>
						</div>
						
						<div class="d-flex flex-row align-items-center gap-3 menu-border">
							
							<div class="d-flex flex-column align-items-center gap-3">
								<img src="icons/icon_store_profile.png" class="menu-image-size">
								<label class="positive-button">메뉴 사진 추가<input type="file" data-field="menu_picture" accept=".jpg, .jpeg, .png" hidden></label>
							</div>
							
							<div class="menu-element">
								<div class="menu-element-row">
									<label class="menu-label"><b>음식명</b></label>
									<input type="text" data-field="menu_name" class="component-write" placeholder="메뉴 명을 입력하세요.">	
								</div>
								
								<div class="menu-element-row">
									<label class="menu-label"><b>가격</b></label>
									<input type="text" data-field="price" class="component-write" placeholder="메뉴 가격을 작성하세요..">	
								</div>
								
								<div class="menu-element-row">
									<label class="menu-label"><b>설명</b></label>
									<textarea type="text" data-field="menu_content" class="component-write menu-description-size"></textarea>
								</div>
								
								<div class="menu-element-row">
									<label class="menu-label"><b>중량</b></label>
									<input type="text" data-field="menu_gram" class="component-write menu-weight-size" placeholder="단위: (g)">
									<b>(g)</b>
								</div>

							</div>

						</div>

					</div>

				<!-- End -->
				</div>
				
				<br>
				
				<div class="component-layout-row menu-board-layout">
					<label class="title-label"><h5>메뉴판 사진 업로드</h5></label>
					<label class="positive-button">매뉴 사진 추가<input type="file" name="menu_board_picture" accept=".jpg, .jpeg, .png" hidden></label>
					<span class="menu-board-name">선택된 파일 없음</span>
				</div>
				
				<br>
				
				<!-- 취소, 전송 버튼 -->
				<div class="d-flex flex-row justify-content-center gap-5">
					<button type="button" class="negative-button" id="test_bt">Test</button>
					<button type="button" class="negative-button" onclick="history.back()">취소</button>
<!--					<button class="positive-button" onclick="location.href='store_reservation_list'">등록</button>-->
					<button class="positive-button" id="submit_bt">등록</button>
				</div>
				
			</form>
			
			
		</div>

	</body>
	
</html>