<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.qtable.mapper.admin.AdminMapper">

	<!-- 매장 회원 목록 리스트 조회 -->
    <select id="findStoreMembers">
        SELECT
            m.member_idx,
            s.store_name,
            m.member_id,
            m.email,
            m.signup_date,
            c.code_label AS member_status
        FROM
            member m
        JOIN
            store s ON m.member_idx = s.member_idx
        JOIN
            common_code c ON m.member_status = c.code
        WHERE
            m.member_type = 'mtype_03'
            AND c.group_code = 'member_status'
    </select>
</mapper>
