<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.qtable.mapper.pay.PaymentMapper">
	
	<insert id="insertPayment"  parameterType="com.itwillbs.qtable.vo.myPage.PaymentVO">
	insert into payment(
		member_idx,
		payment_date,
		payment_amount,
		pay_status,
		pay_way,
		pay_type,
		pay_reference,
		external_transaction_idx 
	) values (
		#{member_idx},
		NOW(),
		#{payment_amount},
		#{pay_status},
		#{pay_way},
		#{pay_type},
		#{pay_reference},
		#{external_transaction_idx}
	)
	</insert>	
	
	<select id="selectPaymentsByMember" parameterType="int" resultType="com.itwillbs.qtable.vo.myPage.PaymentVO">
        SELECT *
        FROM payment
        WHERE member_idx = #{memberIdx}
        ORDER BY payment_date DESC
    </select>
	
	<insert id="insertPortOne"  parameterType="com.itwillbs.qtable.vo.myPage.PaymentVO">
	insert into payment(
		member_idx,
		payment_date,
		payment_amount,
		pay_status,
		pay_way,
		pay_type,
		external_transaction_idx 
	) values (
		#{member_idx},
		NOW(),
		#{payment_amount},
		#{pay_status},
		#{pay_way},
		#{pay_type},
		#{external_transaction_idx}
	)
	</insert>	
	
	<select id="selectPaymentsByMerchantUid" parameterType="String" resultType="com.itwillbs.qtable.vo.myPage.PaymentVO">
        SELECT *
	    FROM payment
	    WHERE pay_reference = #{merchantUid} 
	    ORDER BY payment_date DESC
    </select>
    
	<!--    멤버 테이블 -->
    <update id="increaseQmoney">
	    UPDATE member
	    SET q_money = IFNULL(q_money, 0) + #{amount}
	    WHERE member_idx = #{memberIdx}
	</update>
	
	<!--	q-money 합산-->
	<select id="selectQmoneyByMemberIdx" parameterType="int" resultType="int">
	    SELECT IFNULL(q_money, 0) 
	    FROM member 
	    WHERE member_idx = #{memberIdx}
	</select>


	
	<!-- 환불 -->
	<update id="updatePaymentCancelStatus" parameterType="com.itwillbs.qtable.vo.myPage.PaymentVO">
	    UPDATE payment
	    SET pay_status = #{pay_status},
	        payment_amount = #{payment_amount}, 
	        payment_date = NOW() 
	    WHERE external_transaction_idx = #{external_transaction_idx}
	</update>
	
	<!-- Q-money 차감 -->
	<update id="decreaseQmoney">
	    UPDATE member
	    SET qmoney = qmoney - #{amount}
	    WHERE member_idx = #{memberIdx}
	</update>

	
	
	
</mapper>