<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.qtable.mapper.mypage.ReviewMapper">

	<select id="selectReviewsByMember" resultType="map">
		SELECT
		r.review_idx,
		r.content,
		r.create_at,
		s.store_name,
		 (SELECT image_url
				     FROM image
				    WHERE target_type = 'imguse_01'
				      AND target_idx = s.store_idx LIMIT 1) AS store_img,
				  (SELECT ROUND(AVG(r.score), 2) 
				     FROM review r 
				    WHERE r.store_idx = s.store_idx) AS avgScore
		FROM review r
		JOIN store s ON r.store_idx = s.store_idx
		WHERE r.member_idx = #{member_idx}
		ORDER BY r.create_at DESC
	</select>


</mapper>