@charset "UTF-8";

/* 공통 css (폰트, 색상이나 기본 ui컴포넌트) */
:root{

	/* 메인 컬러 */
	--color-main: #FF6B6B;
	
	/* 서브 컬러 */
	--color-sub: #FABFBF;	

	/* 글자 색 */
	--color-font: #333333;

	/* 부정 버튼 색 */
	--color-font-negative: #444444;
	
	/* 긍정 버튼 색 */
	--color-font-positive: #FFFFFF;
	
	/* 배경 색 */
	--background-color: #FFFFFF;
	
	/* 검색창 및 포커스 색 */
	--color-focus: #7D8FA6;
	
	/* placeholder색 및 강조되지 않는 글 */
	--color-placeholder: #979797;
}

/* ================================== */
/* 긍정 버튼 */
/* ================================== */
.positive-button{
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	color: var(--color-font-positive);
	border: 1px;
	border-radius: 20px;
	background-color: var(--color-main);
	align-content: center;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.positive-button:active{
	transform: scale(0.95);
	background-position: 100% 0%;
}



/* ================================== */
/* 부정 버튼 */
/* ================================== */
.negative-button{
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	color:var(--color-font-negative);;
	border: 1px solid var(--color-main);
	border-radius: 20px;
	background-color: var(--background-color);
	align-content: center;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.negative-button:active{
	transform: scale(0.95);
	background-position: 100% 0%;
}



/* ================================== */
/* 구분선 */
/* ================================== */
.horizontal-line {
	width: 100%;
	height: 1px; /* 원하는 높이로 고정 */
	background-color: var(--color-sub);
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
}



/* ================================== */
/* 드롭다운 */
/* ================================== */
.select-box {
  position: relative;
  width: 250px;
  border: 2px solid var(--color-sub);
  border-radius: 18px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.select-box select {
  width: 100%;
  height: 30px;
  padding: 6px 40px 6px 12px;
  border: none;
  border-radius: 18px;
  background-color: var(--background-color);
  font-size: 16px;
  font-weight: bold;
  color: var(--color-font-negative);
  outline: none;
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
}

/* 커스텀 삼각형 화살표 */
.select-box::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--color-sub);
  transform: translateY(-50%);
}



/* ================================== */
/* 페이징 */
/* ================================== */
.page-selector-layout{
	margin-top: 50px;
	width: 100%;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.page-selector{
	border: none;
	background-color: var(--background-color);
	color: #FABFBF;
	font-weight: bold;
	width: 30px;
	margin: 0px 5px;	
}


.page-selector:disabled{
	border: 2px solid var(--color-main);
	border-radius: 10px;
	text-decoration: none;
}


.page-arrow{
	border: 2px solid var(--color-main);
	border-radius: 10px;
	background-color: var(--background-color);
	color: #FABFBF;
	font-weight: bold;
	font-family: var(--font-main);	
	width: 30px;
	margin: 0px 5px;
}



/* 공통 체크박스*/
.component-checkbox {
	appearance: none;
	width: 25px;
	height: 25px;
	border: 2px solid var(--color-main); 
	border-radius: 6px;
	background: var(--background-color);
	cursor: pointer;
	position: relative; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.component-checkbox:checked::before {
	content: '✔';
	color: var(--color-main);
	font-size: 35px;
	position: absolute;
	top: -10px;
	left: 0;
	line-height: 28px;
}

/*공통 입력란*/
.component-write{
	border: 2px solid var(--color-main); 
	border-radius: 10px;
	width: 20rem;
	height: 1.8rem;
}

.component-write:focus{
	border-color: var(--color-focus); 
	  outline: none;        
	  box-shadow: none;
}

/*title box*/
.title-box {
  background: var(--color-sub);       
  padding: 10px 24px;      
  border-radius: 20px;     
  width: 30%;
  height: 3%; /*사이트 크기에 맞춰 조절*/
}

.form-box {
    width: 100%;
    padding: 30px;
    background-color: var(--background-color);  
    background-color: var(--color-sub);
    border-radius: 12px;      
    box-shadow: var(--main-box-shadow);
    position: relative; /* 1. ::before의 위치 기준점이 되도록 설정 */
    overflow: hidden;   /* 2. ::before가 둥근 모서리 밖으로 삐져나가지 않도록 잘라냄 */
}
.form-box::before{
  	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7px; /* 테두리 두께 */
    background: var(--color-sub); /* 그라데이션 변수 적용 */
}


