@charset "UTF-8";

/* 공통 css (폰트, 색상이나 기본 ui컴포넌트) */
:root{

	/* 메인 컬러 */
	--color-main: #FF6B6B;
	
	/* 서브 컬러 */
	--color-sub: #FABFBF;	

	/* 글자 색 */
	--color-font: #333333;

	/* 부정 버튼 색 */
	--color-font-negative: #444444;
	
	/* 긍정 버튼 & title box */
	--color-font-positive: #FFFFFF;
	
	/* 검색창 및 포커스 색 */
	--color-focus: #7D8FA6;
	
	/* placeholder색 및 강조되지 않는 글 */
	--color-placeholder: #979797;
	
	/* 폼 박스 그림자 (크기는 페이지에 맞춰서 사용) */
	--form-box-shadow: 0px 2px 8px rgb(219 212 212); 
	
	/* 별점 색 */
	--color-star: #ffa500;
}

/* Text Area Resizer 제거 */
textarea {
  resize: none;
  overflow: auto;
  -webkit-appearance: none; 
  appearance: none;
}

textarea::-webkit-resizer { 
  display: none; 
}

/* ================================== */
/* 긍정 버튼 */
/* ================================== */
.positive-button{
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	color: var(--color-font-positive);
	border: 1px;
	border-radius: 20px;
	background-color: var(--color-main);
	align-content: center;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.positive-button:active{
	transform: scale(0.95);
	background-position: 100% 0%;
}


/* ================================== */
/* 부정 버튼 */
/* ================================== */
.negative-button{
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
	color:var(--color-font-negative);;
	border: 1px solid var(--color-main);
	border-radius: 20px;
	background-color:#FFFFFF;
	align-content: center;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.negative-button:active{
	transform: scale(0.95);
	background-position: 100% 0%;
}



/* ================================== */
/* 구분선 */
/* ================================== */
.horizontal-line {
	width: 100%;
	max-width: 1400px;
	height: 1px;
	background-color: var(--color-sub);
	border: none;
	margin: 10px auto;
	box-sizing: border-boxs;
}



/* ================================== */
/* 드롭다운 */
/* ================================== */
.select-box {
  position: relative;
  width: 250px;
  border: 2px solid var(--color-main);
  border-radius: 18px;
  box-sizing: border-box;
  background-color: white;
}

.select-box select {
  width: 100%;
  height: 30px;
  padding: 6px 40px 6px 12px;
  border: none;
  border-radius: 18px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-font-negative);
  outline: none;
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
}

/* 커스텀 삼각형 화살표 */
.select-box::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--color-sub);
  transform: translateY(-50%);
}



/* ================================== */
/* 페이징 */
/* ================================== */
.page-selector-layout{
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.page-selector{
	text-align: center;
	border: none;
	background-color: white;
	color: var(--color-main);
	font-weight: bold;
	width: 30px;
	margin: 0px 5px;	
	text-decoration: none;
}

.page-selector:not(:disabled):hover{
	background-color: var(--color-main);
	color: white;
	cursor: pointer;
}

.page-selector:disabled{
	color: gray;
	border-radius: 10px;
	text-decoration: none;
	cursor: auto;
}


.page-arrow{
	border: 2px solid var(--color-main);
	border-radius: 10px;
	background-color: #FFFFFF;
	color: #FABFBF;
	font-weight: bold;
	font-family: var(--font-main);	
	width: 30px;
	margin: 0px 5px;
}



/* ================================== */
/* 공통 체크박스 */
/* ================================== */
.component-checkbox {
	appearance: none;
	width: 25px;
	height: 25px;
	border: 2px solid var(--color-main); 
	border-radius: 6px;
	background: #fff;
	cursor: pointer;
	position: relative; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.component-checkbox:checked::before {
	content: '✔';
	color: var(--color-main);
	font-size: 35px;
	position: absolute;
	top: -10px;
	left: 0px;
	line-height: 30px;
}

/* ================================== */
/* 공통 입력란 */
/* ================================== */
.component-write{
	border: 2px solid var(--color-main); 
	border-radius: 20px;
	width: 20rem;
	height: 1.8rem;
	padding-left: 10px;
}

.component-write:focus{
	border-color: var(--color-focus); 
	 outline: none;        
	 box-shadow: none;
}

/* ================================== */
/* title box */
/* ================================== */
.title-box {
	width: 100%;
	height: 40px;
	padding: 4px;
	padding-left: 10px;
	background-color: var(--color-main);
	border-radius: 25px;
	position: relative;
	overflow: hidden;
	color: var(--color-font-positive);
	font-size: 28px;
}

/* ================================== */
/* form-box */
/* ================================== */
.form-box {
    width: 100%;
    padding: 30px;
    background-color: var(--color-font-positive);
    border-radius: 20px; 
    box-shadow: var(--form-box-shadow);
    position: relative;
    overflow: hidden;   
}
.form-box::before{
  	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7px; /* 테두리 두께 */
}


.form-noshadow {
    width: 100%;
    padding: 30px;
    background-color: var(--color-font-positive);
    border-radius: 20px; 
	border: 2px solid #F68686;    
    position: relative; 
    overflow: hidden;   
}