.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 위쪽 정렬 */
  background-color: var(--color-main);
  color: #fff;
  padding: 12px 180px 0 180px; /* 상 우 하 좌: 좌우 패딩 20px */
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
  margin-top: auto;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 높이 */
}

main {
  flex: 1; /* 남는 공간 채우기 */
}

.footer-center, .footer-right {
  margin: 10px;
}
.footer-center a {
	color: #fff;
}
.footer-left p {
  margin: 2px 0;       /* 위/아래 간격을 2px로 좁힘 */
  line-height: 1.2;    /* 텍스트 라인 간격도 조금 줄임 */
}
.footer-left{
	margin: 20px;
	margin-bottom: 45px;
}
.footer-left h4 {
  margin-bottom: 10px;
}

.footer-center {
  text-align: center;
  flex: 1;
  margin-top: auto; /* 여기가 핵심: 아래쪽으로 밀어줌 */
}

.footer-center p {
  margin: 0;
}
.footer-center a,
.footer-center a:hover {
    text-decoration: none;
}
.footer-center small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
}
.footer-right {
  margin-top: 100px;
}
.footer-right a {
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  
}
/* ------------------- 반응형 ------------------- */
@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    padding: 20px 30px;
    text-align: center;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-right a { margin-left: 5px; font-size: 18px; }
}