.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 위쪽 정렬 */
  background-color: var(--color-main);
  color: #000;
  padding: 12px 0 0 0;
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
  position: relative; /* 아래쪽 위치 지정용 */
  margin-top: auto;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 전체 높이 */
}

main {
  flex: 1; /* 남는 공간 채우기 */
}

.footer-center, .footer-right {
  margin: 10px;
}
.footer-left p {
  margin: 2px 0;       /* 위/아래 간격을 2px로 좁힘 */
  line-height: 1.2;    /* 텍스트 라인 간격도 조금 줄임 */
}
.footer-left{
	margin: 20px;
	margin-bottom: 45px;
}
.footer-left h4 {
  margin-bottom: 10px;
}

.footer-center {
  text-align: center;
  flex: 1;
  margin-top: auto; /* 여기가 핵심: 아래쪽으로 밀어줌 */
}

.footer-center p {
  margin: 0;
}

.footer-center small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #333;
}
.footer-right {
  margin-top: 100px;
}
.footer-right a {
  color: #000;
  margin-left: 10px;
  font-size: 20px;
  text-decoration: none;
  
}