.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-icon {
    cursor: pointer;
    max-width: 25px;
    max-height: 35px;
}



/* 드롭다운 메뉴 */
.dropdown-menu {
    display: none;
    position: absolute;
	top: calc(100% + 5px);
    right: 0;
    width: 200px;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 100;
    padding: 10px 0;
    font-size: 14px;
}


/* 프로필 정보 */
.header-profile-info {
    display: flex;
    align-items: center;
    padding: 7px;
    border-bottom: 1px solid #ddd;
}

.header-profile-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
	color: #555;
}

.user-email {
    font-size: 10px;
    color: #999;
}

/* 메뉴 항목 */
.dropdown-menu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #333 !important; /* 최우선 적용 */
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

/* 로그아웃 강조 */
.dropdown-menu .logout {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 8px 15px;
    font-size: 14px;
}

/* 추가 링크 스타일 */
.dropdown-menu a.add-later {
    color: #007bff;
    font-size: 12px;
}

.header {
    display: flex;
    justify-content: space-between; /* 로고 - 검색창 - 로그인 버튼 균등 배치 */
    align-items: center;
    padding: 5px 15px;
    background: #fff;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header img {
	width: 150px;   /* 원하는 너비로 지정 */
	height: auto;
	object-fit: contain;
}
/* 로그인 버튼 */
.loginoff {
    background-color: var(--color-main);
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    margin: 0;   /* 불필요 margin 제거 */
}
.loginoff a {
    text-decoration: none;
    color: #fff;
}

.loginoff a:link, .loginoff a:visited, .loginoff a:hover, .loginoff a:active {
    text-decoration: none;   /* 모든 상태에서 밑줄 제거 */
    color: #fff;          /* 모든 상태에서 글자색 동일 */
}
/* 검색창 */
.search-box {
  flex: 1;                /* 가운데 공간 차지 */
  max-width: 400px;       /* 너무 넓어지지 않게 제한 */
  display: flex;
  align-items: center;
  border: 2px solid var(--color-focus);
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 20px;         /* 좌우 살짝만 여백 */
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px 10px;
}

.search-box a {
  border: none;
  background: none;
  color: #9bb0c8;
  cursor: pointer;
  font-size: 16px;
}
.menu-icons a {
  color:var(--color-main); /* 기존 아이콘 색상과 동일하게 */
  text-decoration: none; /* 밑줄 제거 */
}
/* 메뉴 아이콘 */
.menu-icons {
  display: flex;
  gap: 25px;
  font-size: 25px;
  color:var(--color-main);
  cursor: pointer;
  margin-top: 5px;
}

.menu-icons > a > img {
    max-width: 25px;
    max-height: 35px;
}