.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: #fff;
    width: 100%;      /* 화면 전체 폭 */
    max-width: 1400px; /* 최대 폭 제한 */
    box-sizing: border-box; /* padding 포함 폭 계산 */
/*	margin-bottom: 25px;*/
	margin: 0 auto;
}
.header img {
  max-height: 60px;   /* 헤더 높이에 맞게 최대 세로 크기 제한 */
  width: auto;        /* 가로는 자동 계산 → 비율 유지 */
  object-fit: contain;
}


/* 검색창 */
.search-box {
  flex: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
  border: 2px solid var(--color-focus);
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 40px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px 10px;
}

.search-box button {
  border: none;
  background: none;
  color: #9bb0c8;
  cursor: pointer;
  font-size: 16px;
}
.menu-icons a {
  color:var(--color-main); /* 기존 아이콘 색상과 동일하게 */
  text-decoration: none; /* 밑줄 제거 */
}
/* 메뉴 아이콘 */
.menu-icons {
  display: flex;
  gap: 25px;
  font-size: 20px;
  color:var(--color-main);
  cursor: pointer;
}