@charset "UTF-8";

/* 페이지 레이아웃 구조 */

*{
	margin: 0;
	padding: 0;
}


.main-container {
    margin: 5px 143px;
	margin-bottom: 40px;
    border: solid 1px;
    display: flex;
  	justify-content: center;
}


.header {
	padding: 15px;
	margin-left: 7%;
	margin-right: 7%;
	padding-left: 10px;
	padding-right: 10px;
}

.footer {
	height: 18%;
	border: solid 1px;
	padding: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-font);
}
