@charset "UTF-8";

/* 페이지 레이아웃 구조 */

* {
	margin: 0;
	padding: 0;
}


.main-container {
	margin: 5px 350px;
	margin-bottom: 40px;
}


.header {
	padding: 15px;
	margin-left: 12%;
	margin-right: 12%;
	padding-left: 10px;
	padding-right: 10px;
}

/*.footer {*/
/*	height: 18%;*/
/*	border: solid 1px;*/
/*}*/

body {
	font-family: 'Roboto', sans-serif;
	color: var(--color-font);
}


::placeholder {
	color: var(--color-placeholder);
	opacity: 0.8;
}