.memberdelete-container {
    position: relative; /* 자식 요소 위치 기준 */
    width: 100%;
    max-width: 1000px;
    margin: -70px auto 0 auto;
}

.memberdelete-container img {
	width: 90%; /* 100% 에서 80%로 줄임 */
	display: block;
	margin-top: 85px;
	margin-left: auto;  /* 가로 중앙정렬 추가 */
	margin-right: auto;
}

.memberdelete-text {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 45px;
    font-weight: bold;
}
.delete-text {
    position: absolute;
    max-width: 75%;
    top: 13%;
    left: 14%;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.password-check{
	margin-top: 2%;
	margin-left: 11%;
	font-weight: bold;
	font-size: 20px;
}

.memberdelete-check{
	margin-top: 20px;
	display: flex;
	align-items: center;
	margin-left: 11%;
}

label{
	display: inline-block;
	margin-left: 12px;
	font-size: 20px;
	font-weight: bold;
}

.last{
	display: flex;
	align-items: center;
	margin-left: 40%;
	margin-top: 30px;
}	
.button {
  width: 200px;
  height: 40px;
  padding: 0; /* 패딩 제거 또는 최소화 */
  font-size: 25px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
