@charset "UTF-8";

.reserve-label{
	color: var(--color-font);
	font-size: 20px;
	margin-right: 5px;
	cursor: pointer;
	font-weight: 500;
}

.reserve-label.active {
  	color: var(--color-main);
  	font-weight: 700;
}

.reservation-empty-content {
 	text-align: center;
}

.reserve-text{
	font-size: 30px;
	font-weight: bold;
}

.main-mode .card .rating {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.main-mode .card .name {
  margin-bottom: 0 !important;
}