@charset "UTF-8";

.recommend-section {
  width: calc(140px * 5 + 10px * 4);
  margin: 20px 0;
  overflow: hidden;
}

.recommend-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--color-font);
}

.recommend-cards {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  will-change: transform;
}

.card {
  width: 140px; 
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
  flex-shrink: 0;
  text-align: center;
  align-items: center; /* 수평, 수직 모두 중앙 */
}

.card img {
  width: 100%;
  height: 100px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 6px;
}

.card .name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: -15px;
}

.card .rating {
  font-size: 13px;
  color: #f5a623;
  margin-bottom: 2px;
}

.card .price {
  font-size: 13px;
  color: var(--color-placeholder);
}

/*스크롤 움직임 조절*/
@keyframes scrollLoop {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
