@charset "UTF-8";

.profile-img{
	width: 170px;
	height: 160px;
	margin-top: -5px;
	margin-left: 10px;
	margin-right: -5px;
	cursor: pointer;
	border-radius: 100px;
}

.profile-info{
	margin-left: 24px; 
	flex: 1; 
	display:flex; 
	flex-direction: column; 
	justify-content: center; 
	color: #FFFFFF;
}

.Qmoney-balance{
	display: flex; 
	align-items: center; 
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 12px;
}

.Qmoney-img{
	width: 40px;
	height: 40px;
	margin-right: 8px;
}

.profile-icons {
	display: flex;
	gap: 20px;
	margin-bottom: 5px;	
}

.mypage_month{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.mypage_messenger{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.profile_settings{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.nickname-box {
  display: flex;
  justify-content: space-between;  
  align-items: center; 
  width: 100%;
  font-size: 30px; 
  font-weight: 700;
  margin-bottom: 8px; 
}