h2{
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
.charge-amount-group{
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center; 
}

.form-noshadow {
  display: flex;
  flex-direction: row; 
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 6px;
  width: 15em;
  height: 30%;
  font-size: 20px;
  font-weight: bold;
}

.qmoney-icon {
  order: -1; /* 이미지를 텍스트 이전으로 이동 */
  width: 20px;
  height: 20px;
}

.payment-card{
	font-weight: bold;
	font-size: 30px;
	margin-left: -10px;
}

.charge-spoon{
	width: 40px;
	height: 45px;
	margin-top: -12px;
	margin-bottom: 5px;
}

.payment-method-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 부모 높이 */
}

.payment-method-row .form-noshadow {
	height: 85%;
    width: 95%;
    align-self: center;
}

.pay-icon-row {
    display: flex;
	justify-content: space-around;
    align-items: center;          /* 수직 중앙 정렬 */
    gap: 10px;                   /* 아이콘 사이 간격 */
}

.pay-icon-items {
    display: flex;
    flex-direction: column; /* 세로 방향 */
    align-items: center;    /* 가로 중앙 정렬 */
}


.form-noshadow.img-button img{
	width: 30px;
	height: 30px;
	
}

.form-noshadow.img-button {
	width: 20%;
	height: 20%;
	padding: 4px;
  	padding-left: 2px;
  	padding-right: 2px;
}