h2{
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	
}
.charge-amount-group{
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center; 
}

.form-noshadow {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 15em;
  height: 30%;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-font);
}

.qmoney-icon {
  order: -1; /* 이미지를 텍스트 이전으로 이동 */
  width: 20px;
  height: 20px;
}

.payment-card{
	font-weight: bold;
	font-size: 30px;
	margin-left: -10px;
}

.charge-spoon{
	width: 40px;
	height: 45px;
	margin-top: -12px;
	margin-bottom: 5px;
}

.payment-method-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* 부모 높이 */
	padding-bottom: 30px;
	padding-top: 10px;
}

.payment-method-row .form-noshadow {
	height: 70%;
    width: 95%;
    align-self: center;
	border-radius: 10px;
}

.pay-icon-row {
    display: flex;
	justify-content: space-around;
    align-items: center;         
    gap: 10px;       
	margin-top: -10px;  
	margin-bottom: 20px;          
}

.pay-icon-items {
    display: flex;
    flex-direction: column; /* 세로 방향 */
    align-items: center;    /* 가로 중앙 정렬 */
	color: var(--color-placeholder);
	font-family: 'Roboto', sans-serif;
}


.form-noshadow.img-button img.kakao_pay{
	width: 45%;
	 height: 50%;
}
.form-noshadow.img-button img.naver_pay {
  width: 50%;
  height: 50%;
}

.form-noshadow.img-button img.toss_pay {
	width: 70%;
	height: 70%;
}

.form-noshadow.img-button {
	width: 20%;
	height: 20%;
	padding: 4px;
  	padding-left: 2px;
  	padding-right: 2px;
}

#big-select {
  width: 95%;
  height: 7%;
  margin-left: 25px;
  border-radius: 10px;
  border: 2px solid var(--color-main);
  margin-bottom: 20px; 
  font-size: 25px;
  text-align: center ;
  align-items: center;
}

#refund-policy{
	background-color: var(--color-sub);	
	font-size: 25px;
	padding-left: 15px;
	font-weight: bold;
	
}


