@charset "UTF-8";

.reservation-item {
  display: flex;
  gap: 20px;
  padding: 12px 16px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.reservation-header{
	color: var(--color-font);
	font-size: 20px;
	margin-right: 5px;
	cursor: pointer;
	font-weight: 500;
}

.reserve-label.active {
    color: var(--color-main);
    font-weight: bold;
}

.spoon-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.store-img {
  width: 140px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.reservation-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.store-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-star-group {
  display: flex;
  gap: 6px;
  align-items: center;
}

.store-name {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.star {
  font-size: 20px;
  color: var(--color-star);
  margin: 0;
}

.scrap-icon {
  width: 35px;
  height: 40px;
}

.desc {
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-font);
}

.date {
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-placeholder);
}

.reservation-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

