<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/defaultLayout}">
<head>
	<title>홈</title>
<link rel="stylesheet" th:href="@{/css/main/index.css}">
</head>
<body>
	<div layout:fragment="Content">
		<div class="main-banner-full">
		    <img src="img/banner.jpg" alt="메인 배너">
		</div>
		
		<div class="restaurant-section">
		    <h3>추천 음식점</h3>
		    <div class="restaurant-list">
		        <div class="restaurant-card">1</div>
		        <div class="restaurant-card">2</div>
		        <div class="restaurant-card">3</div>
		        <div class="restaurant-card">4</div>
		        <div class="restaurant-card">5</div>
		    </div>
		</div>
	</div>
</body>
</html>
