<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<title>홈</title>
	<link rel="stylesheet" th:href="@{/css/main/index.css}">
	<script th:src="@{/js/index/index.js}"></script>
</head>

<body>
	<div layout:fragment="Content">
		<div class="main-banner-full">
			<img id="bannerImage" src="img/banner.jpg" alt="메인 배너">
			<div class="banner-text">
				<h3 id="bannerTitle"></h3> 
    				<p id="bannerSubtitle"></p>
    				<!--하윤-->
			</div>
		</div>
		<div class="section restaurant-section">
			<h5>추천 레스토랑</h5>
			<div class="restaurant-wrapper" style="position: relative;">
				<button class="scroll-btn left"></button>
				<div class="card-list restaurant-list">

					<!-- 0~9까지 숫자 반복해서 10개 카드 자리 확보 -->
					<div th:each="i : ${#numbers.sequence(0,9)}" class="card">

						<!-- 실제 레스토랑 데이터가 있는 경우 -->
						<a th:if="${i < stores.size()}" th:href="@{/store_detail_main(store_idx=${stores[i].storeIdx})}"
							style="text-decoration: none; color: inherit;">
							<div class="card-image">
								<img th:if="${stores[i].mainImage != null}" th:src="@{${stores[i].mainImage.imageUrl}}"
									alt="메인 이미지">
								<span class="no_image" th:if="${stores[i].mainImage == null}">NO IMAGE</span>
							</div>
							<div class="card-info">
								<h4 th:text="${stores[i].storeName}">식당이름</h4>
								<div class="star-container">
									<div class="star-wrapper"
										th:style="'--star-percent: ' + (${stores[i].avgScore} / 5 * 100) + '%'">
										<div class="stars">★★★★★</div>
									</div>
									<p class="review-count" th:text="'('+${stores[i].reviewCount}+')'"></p>
								</div>
								<p th:text="'예약금: ' + ${stores[i].deposit} + '원'">예약금</p>
								<p th:text="'위치: ' + ${stores[i].fullAddress}">위치</p>
								<p>
									영업시간:
									<!-- 24시간인경우-->
									<span th:if="${stores[i].is24Hour}">24시간 영업</span>
									<!--24시간이 아닌 경우 -->
									<span th:unless="${stores[i].is24Hour}">
										<span th:each="timeCode : ${timeCodes}"
											th:if="${timeCode.code == stores[i].openTime}"
											th:text="${timeCode.code_label}">시작시간</span>
										~
										<span th:each="timeCode : ${timeCodes}"
											th:if="${timeCode.code == stores[i].closeTime}"
											th:text="${timeCode.code_label}">종료시간</span>
									</span>
								</p>
							</div>
						</a>
						<!-- 데이터가 없는 경우 빈 카드 -->
						<div th:if="${i >= stores.size()}">
							<div class="card-image" style="background:#f0f0f0;">
								<span class="no_image">NO IMAGE</span>
							</div>
							<div class="card-info">
								<h4 style="color: #aaa;">식당 없음</h4>
								<p>예약금: -</p>
								<p>위치: -</p>
								<p>영업시간: -</p>
							</div>
						</div>

					</div>
				</div>
				<button class="scroll-btn right"></button>
			</div>
		</div>
		<div class="section restaurant-section location-section">
			<h5 style="display: inline-flex; align-items: center; font-weight: 600; font-size: 18px;">
				인기지역
				<span style="font-size: 13px; color: #999; margin-left: 6px;"></span>
			</h5>
			<div class="restaurant-wrapper" style="position: relative;">
				<button class="scroll-btn left"></button>
				<div class="card-list location-list">
					<div class="card" th:each="region : ${regions}">
						<div class="location card-image" th:attr="data-loc=${region.sigungu}">

							<!-- 지역 이미지 -->
							<img th:src="${region.imageUrl}" th:alt="${region.sigungu}">

							<!-- 오버레이 텍스트 -->
							<span class="overlay-text" th:text="${region.sigungu}"></span>
							<div class="store-count">
								<span th:text="  ${region.storeCount}+'건'"></span>
							</div>
						</div>
					</div>
					<div th:if="${regions.size() < 10}" th:each="i : ${#numbers.sequence(1, 10 - regions.size())}">
						<div class="card">
							<div class="card-image" style="background:#f0f0f0;">
								<span class="no_image">NO IMAGE</span>
							</div>
						</div>
					</div>
				</div>
				<button class="scroll-btn right"></button>
			</div>
		</div>
		<div class="section restaurant-section">
			<h5>서울 인기 레스토랑</h5>
			<div class="restaurant-wrapper" style="position: relative;">
				<button class="scroll-btn left"></button>
				<div class="card-list restaurant-list">
					<!-- 0~9까지 숫자 반복해서 10개 카드 자리 확보 -->
					<div th:each="i : ${#numbers.sequence(0,9)}" class="card">
						<!-- 실제 서울 레스토랑 데이터가 있는 경우 -->
						<a th:if="${i < seoulStores.size()}"
							th:href="@{/store_detail_main(store_idx=${seoulStores[i].storeIdx})}"
							style="text-decoration: none; color: inherit;">
							<div class="card-image">
								<img th:if="${seoulStores[i].mainImage != null}"
									th:src="@{${seoulStores[i].mainImage.imageUrl}}" alt="메인 이미지">
								<span class="no_image" th:if="${seoulStores[i].mainImage == null}">NO IMAGE</span>
							</div>
							<div class="card-info">
								<h4 th:text="${seoulStores[i].storeName}">식당이름</h4>
								<div class="star-container">
									<div class="star-wrapper"
										th:style="'--star-percent: ' + (${seoulStores[i].avgScore} / 5 * 100) + '%'">
										<div class="stars">★★★★★</div>
									</div>
									<p class="review-count" th:text="'('+${seoulStores[i].reviewCount}+')'"></p>
								</div>
								<p th:text="'예약금: ' + ${seoulStores[i].deposit} + '원'">예약금</p>
								<p th:text="'위치: ' + ${seoulStores[i].fullAddress}">위치</p>
								<p>
									영업시간:
									<span th:if="${seoulStores[i].is24Hour}">24시간 영업</span>
									<!--24시간이 아닌 경우 -->
									<span th:unless="${seoulStores[i].is24Hour}">
										<span th:each="timeCode : ${timeCodes}"
											th:if="${timeCode.code == seoulStores[i].openTime}"
											th:text="${timeCode.code_label}">시작시간</span>
										~
										<span th:each="timeCode : ${timeCodes}"
											th:if="${timeCode.code == seoulStores[i].closeTime}"
											th:text="${timeCode.code_label}">종료시간</span>
									</span>
								</p>
							</div>
						</a>
						<!-- 데이터가 없는 경우 빈 카드 -->
						<div th:if="${i >= seoulStores.size()}">
							<div class="card-image" style="background:#f0f0f0;">
								<span class="no_image">NO IMAGE</span>
							</div>
							<div class="card-info">
								<h4 style="color: #aaa;">식당 없음</h4>
								<p>예약금: -</p>
								<p>위치: -</p>
								<p>영업시간: -</p>
							</div>
						</div>
					</div>
				</div>
				<button class="scroll-btn right"></button>
			</div>
		</div>
		<div class="section restaurant-section">
			<h5>부산 인기 레스토랑</h5>
			<div class="restaurant-wrapper" style="position: relative;">
				<button class="scroll-btn left"></button>
				<div class="card-list restaurant-list">

					<!-- 0~9까지 숫자 반복해서 10개 카드 자리 확보 -->
					<div th:each="i : ${#numbers.sequence(0,9)}" class="card">

						<!-- 실제 부산 레스토랑 데이터가 있는 경우 -->
						<a th:if="${i < busanStores.size()}"
							th:href="@{/store_detail_main(store_idx=${busanStores[i].storeIdx})}"
							style="text-decoration: none; color: inherit;">
							<div class="card-image">
								<img th:if="${busanStores[i].mainImage != null}"
									th:src="@{${busanStores[i].mainImage.imageUrl}}" alt="메인 이미지">
								<span class="no_image" th:if="${busanStores[i].mainImage == null}">NO IMAGE</span>
							</div>
							<div class="card-info">
								<h4 th:text="${busanStores[i].storeName}">식당이름</h4>
								<div class="star-container">
									<div class="star-wrapper"
										th:style="'--star-percent: ' + (${busanStores[i].avgScore} / 5 * 100) + '%'">
										<div class="stars">★★★★★</div>
									</div>
									<p class="review-count" th:text="'('+${busanStores[i].reviewCount}+')'"></p>
								</div>
								<p th:text="'예약금: ' + ${busanStores[i].deposit} + '원'">예약금</p>
								<p th:text="'위치: ' + ${busanStores[i].fullAddress}">위치</p>
								<p>
									영업시간:
									<span th:if="${busanStores[i].is24Hour}">24시간 영업</span>
									<!--24시간이 아닌 경우 -->
									<span th:unless="${busanStores[i].is24Hour}">
										<span th:each="timeCode : ${timeCodes}"
											th:if="${timeCode.code == busanStores[i].openTime}"
											th:text="${timeCode.code_label}">시작시간</span>
										~
										<span th:each="timeCode : ${timeCodes}"
											th:if="${timeCode.code == busanStores[i].closeTime}"
											th:text="${timeCode.code_label}">종료시간</span>
									</span>
								</p>
							</div>
						</a>
						<!-- 데이터가 없는 경우 빈 카드 -->
						<div th:if="${i >= busanStores.size()}">
							<div class="card-image" style="background:#f0f0f0;">
								<span class="no_image">NO IMAGE</span>
							</div>
							<div class="card-info">
								<h4 style="color: #aaa;">식당 없음</h4>
								<p>예약금: -</p>
								<p>위치: -</p>
								<p>영업시간: -</p>
							</div>
						</div>
					</div>
				</div>
				<button class="scroll-btn right"></button>
			</div>
		</div>
		<div class="section restaurant-section">
			<h5>전 지역 레스토랑을 예약해보세요</h5>
			<div class="card-list alllocation-list">
				<div class="local card">
					<img src="/img/local/Busan.png" alt="부산">
					<span class="overlay-text">부산</span>
				</div>
				<div class="local card">
					<img src="/img/local/Seoul.png" alt="서울">
					<span class="overlay-text">서울</span>
				</div>
				<div class="local card">
					<img src="/img/local/Incheon2.png" alt="인천">
					<span class="overlay-text">인천</span>
				</div>

			</div>
			<div class="card-list alllocation-list">
				<div class="local card">
					<img src="/img/local/Daejeon.png" alt="대전">
					<span class="overlay-text">대전</span>
				</div>
				<div class="local card">
					<img src="/img/local/Gyeongju.png" alt="경주">
					<span class="overlay-text">경주</span>
				</div>
				<div class="local card">
					<img src="/img/local/Yeosu.png" alt="여수">
					<span class="overlay-text">전남</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>