<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/member/memberJoin.css}">
</head>

<body>
	<div layout:fragment="Content">
			<div class="signup-tabs">
				<div class="tab active">개인 회원가입</div>
				<div class="tab">매장 회원가입</div>
			</div>
		<div class="signup-container">
			<form class="signup-form">
				<div class="form-group">
					<label>아이디</label>
					<input type="text" placeholder="아이디">
					
				</div>
				<div class="form-group">
					<label>비밀번호</label>
					<input type="password" placeholder="비밀번호">
				</div>
				<div class="form-group">
					<label>비밀번호 확인</label>
					<input type="password" placeholder="비밀번호 확인">
					
				</div>
				<div class="form-group-inline">
					<label>이름</label>
					<input type="text" placeholder="이름">
					<label>성별</label>
					<select>
						<option>선택</option>
						<option>남성</option>
						<option>여성</option>
					</select>
				</div>
				<div class="form-group">
					<label>생년월일</label>
					<input type="date" placeholder="생년월일">
				</div>
				<div class="form-group">
					<label>주소</label>
					<div class="address-group">
						<input type="text" placeholder="우편번호">
						<button type="button">인증</button>
					</div>
					<input type="text" placeholder="주소">
					<input type="text" placeholder="상세주소">
				</div>
				<div class="form-group">
					<label>이메일</label>
					<div class="email-group">
						<input type="email" placeholder="이메일">
						<button type="button">인증번호</button>
					</div>
				</div>
				<div class="form-group">
					<label>이메일 인증번호</label>
					<div class="email-group">
						<input type="text" placeholder="이메일 인증번호">
						<button type="button">확인</button>
					</div>
				</div>
				<div class="terms">
					<label><input type="checkbox"> 전체동의</label>
					<label><input type="checkbox"> 이용약관 동의 <a href="#">전체보기</a></label>
					<label><input type="checkbox"> 개인정보 처리 방침 <a href="#">전체보기</a></label>
					<label><input type="checkbox"> 마케팅 동의 <a href="#">전체보기</a></label>
				</div>
				<button class="submit-btn">회원가입</button>
			</form>
		</div>
	</div>
</body>



</html>