<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/main/privacyPolicy.css}">
</head>
<body>
		<div layout:fragment="Content">
			<!-- 메인 콘텐츠 영역 -->
			<main style="display: flex; justify-content: center; padding: 20px;">
			    <div class="terms-container">
			        <h2 class="terms-title">개인정보 처리 방침</h2>
			        <div class="terms-content">
			            <p class="terms-paragraph">
			                제1조 (본 규약의 적용)<br><br>
							당사는 개인정보보호법을 준수함과 동시에 조직체제를 정비하여 개인정보의 적절한 보호를 위해 노력하고 있습니다.

							취득하는 정보
							개인정보란 개인정보의 보호에 관한 법률(2003년 법률 제57호, 이하 '개인정보보호법'이라 한다) 2조 1항에서 정한 개인정보를 말하는데, 특히 당사가 '4. 이용목적'에서 정한 목적을 달성하기 위하여 취득하는 정보에는 다음과 같은 것이 포함됩니다.
							당사가 본 서비스 이용과 관련하여 취득하는 정보
							·사용자의 본인 확인에 관한 정보(전화번호, 이메일 주소, 비밀번호, 닉네임 등의 정보)
							·신용카드 정보
							·예약일시 및 예약횟수 등 사용자에 의한 본 서비스의 이용 및 열람에 관련된 정보
							 (여기에는 쿠키정보, 액세스로그 등의 이용상황에 관한 정보, 이용 중인 단말정보, 
							 OS정보, 위치정보, IP주소, 브라우저정보, 브라우저언어 등을 포함한 사용자의
							 통신에 관한 정보를 포함합니다)
							·유저가 본 서비스에 게재·발신한 투고, 사진, 화상, 동영상, 메시지, 평가, 기타 정보
							·사용자의 본 서비스 결제 현황에 대한 정보
							·이용자가 본 서비스 이용에 있어 소셜 네트워킹 서비스 등의 다른 서비스와 연계를 
							 허용함으로써 해당 다른 서비스에서 제공하는 정보

							당사가 업무 제휴처 및 제3자로부터 간접적으로 수집하는 정보
							·당사는 광고사업자 및 기타 각종 서비스 프로바이더 등의 제3자로부터 취득하는 사용자에 관한 식별자(Cookie, ADID/IDFA, IP 주소 등을 포함합니다), 전화번호, 메일 주소, 열람 이력, 위치정보 등의 행동 이력, 취미 기호 등의 정보와 같은 개인정보 또는 개인 관련 정보를 취득하고, 당사가 이미 보유하고 있는 사용자의 개인정보와 연계하여 대조·분석하는 경우가 있습니다.
			            </p>
			        </div>
			    </div>
			</main>
		</div>
</body>
</html>