<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">
<head>
	<link rel="stylesheet" th:href="@{/css/main/termsOfUse.css}">
	<script th:src="@{/js/common/consentText.js}"></script>
</head>
<body>
		<div layout:fragment="Content">
			<div class="image-container">
			    <img th:src="@{/img/background.png}" alt="배경 이미지">
				<h1 class="overlay-texth1">이용 약관</h1>
			    <p class="overlay-text" id="termsofuse"></p>
			</div>
		</div>
</body>
</html>