<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}">

<head>
	<link rel="stylesheet" th:href="@{/css/main/termsOfUse.css}">
</head>

<body>
	<div layout:fragment="Content">
		<!-- 메인 콘텐츠 영역 -->
		<main style="display: flex; justify-content: center; padding: 20px;">
		    <div class="terms-container">
		        <h2 class="terms-title">이용 약관</h2>
		        <div class="terms-content">
		            <p class="terms-paragraph">
		                제1조 (본 규약의 적용)<br><br>
		                본 약관(이하 “본 약관”이라 합니다.)은 주식회사 헬로(이하 “당사”라 합니다.)가 제공하는 음식점의 자동 예약 서비스 “AutoReserve”(서비스의 내용 또는 명칭이 변경된 경우에는 해당 변경 후의 서비스를 포함하며, 이하 “예약 서비스”라 합니다.), 온라인 스토어 서비스 “AutoReserveStore”(서비스의 내용 또는 명칭이 변경된 경우에는 해당 변경 후의 서비스를 포함하며, 이하 “판매 서비스”라 합니다.), 테이크아웃 주문 서비스 “AutoReserveTakeout”(서비스의 내용 또는 명칭이 변경된 경우에는 해당 변경 후의, 딜리버리 서비스 “Auto Reserve Delivery” (서비스의 내용 또는 명칭이 변경된 경우에는 해당 변경 후의 서비스를 포함하며, 이하 “딜리버리 서비스”라 합니다.) 및 셀프 오더 서비스 “Auto Reserve Oder” (서비스의 내용 또는 명칭이 변경된 경우에는 해당 변경 후의 서비스를 포함하며, 이하 “셀프 오더 서비스”라 합니다. 또한 예약서비스, 판매 서비스, 테이크아웃서비스, 딜리버리서비스 및 셀프오더서비스를 함께 제공하며, 이하 “본 서비스”라 합니다.)의 이용에 대한 일체의 적용을 받습니다.<br>
		                2 이용자는 본 약관에 따라 본 서비스를 이용하며, 본 약관에 동의하지 않는 한 본 서비스를 이용할 수 없습니다. 사용자가 본 서비스를 이용한 시점에 본 약관에 동의한 것으로 간주합니다.<br>
		                본 서비스 상에서 기재하는 주의사항 등은 본 규약의 일부를 구성하는 것으로 합니다.
		            </p>

		        </div>
		    </div>
		</main>
	</div>
</body>

</html>