.horizontal-line {
    display: none; /* 화면에서 숨김 */
}
.restaurant-section {
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
}

.restaurant-list {
    display: flex;
    gap: 15px;            /* 카드 사이 간격 */
    overflow-x: auto;      /* 가로 스크롤 */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
    padding-bottom: 10px;  /* 스크롤바 여백 */
	justify-content: center;
}

.restaurant-list::-webkit-scrollbar {
    height: 8px;
}

.restaurant-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
}

.restaurant-card {
    min-width: 200px;      /* 카드 최소 너비 */
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 10px;
    flex-shrink: 0;        /* 크기 줄어드는 것 방지 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.restaurant-section h3 {
    margin: 0 0 2vh 0vh; /* 상 0, 하 10px */
    padding: 0;
}

.main-banner-full {
    width: 100%;       /* 화면 전체 너비 */
    margin: 0;          /* 부모 margin 무시 */
    padding: 0;
    overflow: hidden;
}
.main-banner-full img {
    width: 100%;
	height: 400px;
    display: block;
}
.reset-content-style {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    box-sizing: border-box;
}