.horizontal-line {
    display: none; /* 화면에서 숨김 */
}
/* 공통 카드 스타일 */
.card-list {
    display: flex;
    gap: 15px;                  /* 카드 사이 간격 */
    overflow-x: hidden;           /* 가로 스크롤 */
    scroll-behavior: smooth;    /* 부드러운 스크롤 */
    padding-bottom: 10px;       /* 스크롤바 여백 */
    width: 100%;
}

.card-list::-webkit-scrollbar {
    height: 8px;
}

.card-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
}

.card {
    min-width: 200px;           /* 카드 최소 너비 */
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    flex-shrink: 0;             /* 크기 줄어드는 것 방지 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.location-list .card {
    min-width: 200px;
    height: 100px;       /* 높이 작게 */
}
.alllocation-list .card {
    min-width: 330px;
    height: 200px;       /* 높이 작게 */
}
.restaurant-section:last-of-type .alllocation-list {
    justify-content: center;  /* 가로 가운데 정렬 */
}

/* 섹션 공통 */
.section {
    width: 100%;
    overflow-x: hidden;         /* 좌우 영역 넘치면 숨김 */
    padding: 20px;
}

.section h5 {
    margin: 0 0 2vh 0;
    padding: 0;
}

/* 좌우 스크롤 버튼 */
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.scroll-btn.right::after {
    content: '';
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
}

.scroll-btn.left::after {
    content: '';
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
}

.scroll-btn.left {
    left: 5px;
}

.scroll-btn.right {
    right: 5px;
}


.restaurant-wrapper {
    overflow-x: auto;     
    white-space: nowrap;  
    width: 1100px;
    margin: 0 auto;
}

.main-banner-full {
    width: 100%;       /* 화면 전체 너비 */
    margin: 0;          /* 부모 margin 무시 */
    padding: 0;
    overflow: hidden;
}
.main-banner-full img {
    width: 100%;
	height: 400px;
    display: block;
}
.reset-content-style {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    box-sizing: border-box;
}