.image-container {
    position: relative;
    width: 90%;
    max-width: 1400px;
    margin: 0px auto 0 auto;
	overflow: hidden;
	
}

.image-container img {
    width: 100%;
    display: block;  
}
	
.overlay-texth1 {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 45px;
    font-weight: bold;
}
.overlay-text {
    position: absolute;
    max-width: 65%;
    top: 26%;
    left: 16%;
    font-size: 19px;
    font-weight: bold;
    color: #333;
}