<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.itwillbs.qtable.mapper.search.SearchKeywordListMapper">
	<select id="selectSeatCntPriceRange">
		SELECT * 
		  FROM common_code
		 WHERE group_code = #{group_code}
	</select>
	
	<select id="getRegionLargeCategory">
		SELECT code, code_label
		  FROM common_code
		 WHERE group_code = 'location'
		   AND parent_code is null;
	</select>
	
	<select id="getSubLocation">
		SELECT * 
		  FROM common_code
		 WHERE group_code = 'location'
		   and parent_code is not null 
	  ORDER BY common_idx;
	</select>
	
	<select id="getPerCnt">
		select * 
		  from common_code
		 where group_code = 'person_count';
	</select>
	
	<select id="getTime">
		select * 
		  from common_code
		 where group_code = 'time';
	</select>
	
	<select id="getResult">
		select s.store_idx
			 , s.store_name
		     , s.sido
		     , s.sigungu
		     , s.price_avg price
		     , s.store_content content
		     , s.is_24hour '24hour'
		     , cOpen.code_label 'open_time'
		     , cClose.code_label 'close_time'
		     , count(r.content) reviewCnt
		     , ifnull(ROUND(sum(r.score)/count(r.review_idx),1),0) score
		     , i.image_url
		     , group_concat(distinct(cHoliday.code_label) ORDER BY cHoliday.code) 'holiday'
		from store s
		join common_code cOpen on s.open_time = cOpen.code
		join common_code cClose on s.close_time = cClose.code 
		left outer join review r on s.store_idx = r.store_idx 
		left outer join image i on s.store_idx = i.target_idx 
		left outer join store_holiday h on s.store_idx = h.store_idx 
		left outer join common_code cHoliday on h.store_holiday = cHoliday.code 
		where i.target_type = 'imguse_01'
		group by s.store_idx
		       , s.store_name
		       , s.sido
		       , i.image_url
		       , sigungu
		       , price
		       , is_24hour
		       , store_content
		       , cOpen.code_label
		       , cClose.code_label
  	    order by #{vo.sort};
	</select>	
	
	
</mapper>