<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
	<!-- Brand Logo -->
	<a href="/admin_main" class="brand-link">
		<img src="/img/logo.png" alt="Q - TABLE Logo" class="brand-image">
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="/img/profile.png" alt="프로필 사진" class="profile-img">
			</div>
			<div class="info user-info" sec:authorize="isAuthenticated()">
				<span sec:authentication="principal.username"></span>님
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-person"></i>
						<p>회원 관리<i class="right fas fa-angle-left"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin_member" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>사용자 회원관리</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-shop"></i>
						<p>매장 관리<i class="right fas fa-angle-left"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin_store" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>매장 회원관리</p>
							</a>
						</li>
					</ul>
					<ul class="nav nav-treeview">	
						<li class="nav-item">
							<a href="/store_entry" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>입점 신청관리</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-currency-exchange"></i>
						<p>결제 관리<i class="right fas fa-angle-left"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/member_payment" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>회원 결제 목록</p>
							</a>
						</li>
					</ul>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/store_payment" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>매장 결제 관리</p>
							</a>
						</li>
					</ul>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/store_refund" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>매장 정산</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-clipboard-data"></i>
						<p>콘텐츠 관리<i class="right fas fa-angle-left"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin_subscribe" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>매장 구독 관리</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon bi bi-cpu"></i>
						<p>시스템 관리<i class="right fas fa-angle-left"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/comcode_list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>공통 코드 관리</p>
							</a>
						</li>
					</ul>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/admin_account" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>관리자 계정 관리</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item">
					<a href="/chat" class="nav-link">
						<i class="nav-icon bi bi-bell"></i>
						<p>고객지원 관리<span class="right badge badge-danger">2</span></p>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>